# comopser
/vendor

.idea

public/build/
bootstrap/cache

.env
.env.local.php
.env.*.local

# PHPUnit 10+
.phpunit.cache

public/build

/.env
/.env.*.local

/node_modules/
/public/build/
npm-debug.log
yarn-error.log

/demo-runner

/resources/json-database/*
!/resources/json-database/references.json

/.env

/storage

public/hot

database/database.sqlite


# IDE laravel plugin
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# local repositories
/community-repository
