vendor/
package-lock.json

.idea

public/build/

.env.local
.env.local.php
.env.*.local

# PHPUnit 10+
.phpunit.cache

public/build

/.env.local
/.env.*.local

/node_modules/
/public/build/
npm-debug.log
yarn-error.log

/demo-runner

resources/json-database/*

/.env

/storage

public/hot
