parameters:
    paths:
        - src
        - tests
        - config
        - utils
        - utils-tests

    excludePaths:
        - */Fixture/*
        - */Expected/*

    type_coverage:
        return_type: 99
        param_type: 99

        # @todo skip parent guarded properites, e.g. from laravel command
        property_type: 95

    unused_public:
        methods: true
        properties: true
        constants: true
        twig_template_paths:
            - resources/views

    cognitive_complexity:
        class: 50
        function: 8

    level: 8

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Cannot call method get\(\) on Symfony\\Component\\DependencyInjection\\ContainerInterface\|null#'

        -
            message: '#Unreachable statement \- code above always terminates#'
            path: tests/Controller/DemoControllerTest.php

        # in glob() we trust
        - '#Method Rector\\Website\\Repository\\PostRepository\:\:findPostsFilePaths\(\) should return array<string> but returns array<int, string\|false>#'

        -
            message: '#Anonymous function should return string but returns string\|false#'
            path: utils/Laravelize/FileSystem/TwigFileFinder.php

        # @todo fix in the phsptan rule, this property is used by a command
        - '#Public property "Rector\\Website\\Utils\\Laravelize\\Command\\TwigToBladeCommand\:\:\$signature" is never used#'
