parameters:
    paths:
        - src
        - tests

    excludePaths:
        - */Fixture/*
        - */Expected/*

    level: 8

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # in glob() we trust
        - '#Method Rector\\Website\\Repository\\PostRepository\:\:findPostsFilePaths\(\) should return array<string> but returns array<int, string\|false>#'

        # invalid doc type
        - '#Parameter \#2 \$font of method Imagine\\Draw\\DrawerInterface\:\:text\(\) expects Imagine\\Image\\AbstractFont, Imagine\\Image\\FontInterface given#'

        # float allowed
        - '#Parameter (.*?) of class Imagine\\Image\\Box constructor expects int, float given#'

        # will be solved most likely once Larastan is updated to Laravel 11 conventions
        - '#Call to an undefined method Illuminate\\Contracts\\(.*?)|Illuminate\\#'

        - '#Method Rector\\Website\\PhpParser\\NodeResolver\\FocusedNodeResolver\:\:focus\(\) should return PhpParser\\Node but returns PhpParser\\Node\|null#'
        - '#Method Rector\\Website\\PhpParser\\ClickablePrinter\:\:pObjectProperty\(\) has parameter \$node with no type specified#'
