parameters:
    paths:
        - bootstrap/app.php
        - src
        - tests

    excludePaths:
        - */Fixture/*
        - */Expected/*
        # generated and slow
        - src/Ast/PhpParser/ClickablePrinter.php

    bootstrapFiles:
        - vendor/rector/rector/vendor/symplify/rule-doc-generator-contracts/src/ValueObject/RuleDefinition.php
        - tests/bootstrap.php

    level: 8

    unused_public:
        template_paths:
            - resources/views

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # in glob() we trust
        - '#Method App\\Repository\\PostRepository\:\:findPostsFilePaths\(\) should return array<string> but returns array<int, string\|false>#'

        # invalid doc type
        - '#Parameter \#2 \$font of method Imagine\\Draw\\DrawerInterface\:\:text\(\) expects Imagine\\Image\\AbstractFont, Imagine\\Image\\FontInterface given#'
        # float allowed
        - '#Parameter (.*?) of class Imagine\\Image\\Box constructor expects int, float given#'

        # class-string
        - '#Parameter \#1 \$rectorClass of method App\\RuleFilter\\ValueObject\\RectorSet\:\:hasRule\(\) expects class\-string, string given#'

        # known values
        -
            message: '#Offset 1 on array\{string\} on left side of \?\? does not exist#'
            paths:
                 - src/Controller/
                 - src/Ast/Controller/

        - '#Call to an undefined method Illuminate\\Contracts\\(.*?)|Illuminate\\#'

        -
            message: '#Method App\\FileSystem\\RectorFinder\:\:findRectorClasses\(\) should return array<class\-string<Rector\\Contract\\Rector\\RectorInterface>> but returns array<int, string>#'
            path: src/FileSystem/RectorFinder.php

        # stmts vs nodes
        - '#Method App\\PhpParser\\SimplePhpParser\:\:parseString\(\) should return array<PhpParser\\Node\\Stmt> but returns array<PhpParser\\Node>#'

        # parent laravel model configuration property
        - '#Public property "App\\Ast\\Entity\\AstRun\:\:\$timestamps" is never used#'

        # make models pass without ide helper
        -
            path: src/Ast/Entity/AstRun.php
            message: '#Access to an undefined property App\\Ast\\Entity\\AstRun\:\:\$(content|hash)#'
        - '#PHPDoc tag @mixin contains unknown class App\\Ast\\Entity\\IdeHelperAstRun#'
        - '#Call to an undefined static method App\\Ast\\Entity\\AstRun\:\:firstWhere\(\)#'
        - '#Parameter \#1 \$rectorClass of method App\\RuleFilter\\ValueObject\\RectorSet\:\:hasRule\(\) expects class\-string, string given#'

        # inherited from php-parser
        -
            message: '#Parameter \#1 \$nodes of method PhpParser\\PrettyPrinterAbstract\:\:pCommaSeparatedMultiline\(\) expects array<PhpParser\\Node>, array<PhpParser\\Node\\Expr\\ArrayItem\|null> given#'
            path: src/RuleFilter/PhpParser/Printer/RectorConfigStmtsPrinter.php


        # only type
        - '#Method App\\Thumbnail\\ThumbnailGenerator\:\:createFont\(\) should return Imagine\\Image\\AbstractFont but returns Imagine\\Image\\FontInterface#'
