<br>

<div class="row mt-5 text-center m-auto" id="reference" style="max-width:30em">
        <div class="col-md-10 col-sm-8 mb-5">
            <div class="text-left">
                <q class="blockquote">Very useful tool. I'm sold :)</q>

                <div class="mt-2">
                    <strong class="name">
                        <a href="https://en.rmcreative.ru/">Alexander Makarov</a>
                    </strong>

                    &ndash; Yii Framework Core Developer
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 mb-5 mt-0">
            <div class="text-center">
                <img src="https://avatars0.githubusercontent.com/u/47294?s=400&v=4" alt="" class="img-fluid rounded-circle img-thumbnail" style="max-width: 6em">
            </div>
        </div>
</div>
