<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pt-3">
                <a href="http://github.com/rectorphp/rector" class="p-3">
                    <em class="fab fa-github fa-fw fa-2x"></em>
                </a>

                <a href="https://twitter.com/rectorphp" class="p-3">
                    <em class="fab fa-twitter fa-fw fa-2x"></em>
                </a>

                <a href="https://www.linkedin.com/company/rectorphp" class="p-3">
                    <em class="fab fa-linkedin fa-fw fa-2x"></em>
                </a>
            </div>

{#            <div class="col-12 col-md-6 text-center text-md-right mt-5 mt-md-0">#}
{#                <p>#}
{#                    <a href="{{ path(constant('Rector\\Website\\ValueObject\\Routing\\RouteName::FOR_COMPANIES')) }}">#}
{#                        Support for Legacy Projects#}
{#                    </a>#}
{#                </p>#}
{#            </div>#}
        </div>
    </div>
</div>
