<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center text-md-left pt-3">
                <a href="http://github.com/rectorphp/rector" class="p-2">
                    <em class="fab fa-github fa-fw fa-lg"></em>
                </a>

                <a href="https://twitter.com/rectorphp" class="p-2">
                    <em class="fab fa-twitter fa-fw fa-lg"></em>
                </a>

                <a href="{{ path('rss') }}" class="p-2">
                    <em class="fas fa-rss fa-fw fa-lg"></em>
                </a>

                <a href="https://www.linkedin.com/company/rectorphp" class="p-2">
                    <em class="fab fa-linkedin fa-fw fa-lg"></em>
                </a>

                <a href="http://facebook.com/rectorphp" class="p-2">
                    <em class="fab fa-facebook fa-fw fa-lg"></em>
                </a>

                {% if random(50, 100) > 80 %}
                    <a href="{{ path(constant('Rector\\Website\\ValueObject\\RouteName::LISTS')) }}">
                        <em class="fas fa-broom fa-fw fa-lg"></em>
                    </a>
                {% endif %}
            </div>

            <div class="col-12 col-md-6 text-center text-md-right mt-5 mt-md-0">
                <p>
                    Do you want to Migrate out of Legacy Code <strong>in a month</strong>?

                    <br>

                    <a href="{{ path(constant('Rector\\Website\\ValueObject\\Routing\\RouteName::CONTACT')) }}">Dare us</a>
                </p>
            </div>
        </div>
    </div>
</div>
