<div id="footer">
    <div class="container">
        <div class="row pt-3">
            <div class="col-6 col-md-3">
                Rector Team {{ "now"|date("Y") }}
            </div>

            <div class="col-6 col-md-3">
                <a href="http://github.com/rectorphp/rector" class="p-3">
                    <em class="fab fa-github fa-fw fa-lg"></em>
                </a>

                <a href="https://twitter.com/rectorphp" class="p-3">
                    <em class="fab fa-twitter fa-fw fa-lg"></em>
                </a>

                <a href="https://www.linkedin.com/company/rectorphp" class="p-3">
                    <em class="fab fa-linkedin fa-fw fa-lg"></em>
                </a>
            </div>

            <div class="col-6 col-md-6">
                <ul class="navbar-nav" id="footer_menu">
                    {% include("_snippets/menu_items.twig") %}
                </ul>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-12 text-center mt-5 mb-5 text-bigger">
                We've helped 12 companies to improve PHP code last year.
            </div>
        </div>
    </div>
</div>
