<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center text-md-left mb-2">
                <a href="{{ path('contact') }}">Contact</a>
                <span class="pl-2 pr-2">•</span>
                <a href="https://github.com/rectorphp/rector/blob/master/docs/rector_rules_overview.md" class="mt-5">
                    Delegate to {{ rector_count_provider.provide }} Rector Rules
                </a>

                <br>
                <br>

                <a href="http://github.com/rectorphp/rector" class="p-2">
                    <em class="fab fa-github fa-fw fa-lg"></em>
                </a>

                <a href="https://twitter.com/rectorphp" class="p-2">
                    <em class="fab fa-twitter fa-fw fa-lg"></em>
                </a>

                <a href="{{ path('rss') }}" class="p-2">
                    <em class="fas fa-rss fa-fw fa-lg"></em>
                </a>

                <a href="https://www.linkedin.com/company/rectorphp" class="p-2">
                    <em class="fab fa-linkedin fa-fw fa-lg"></em>
                </a>

                <a href="http://facebook.com/rectorphp" class="p-2">
                    <em class="fab fa-facebook fa-fw fa-lg"></em>
                </a>
            </div>

            <div class="col-12 col-md-6 text-center text-md-right">
                <p>
                    Do you want to Migrate out of Legacy Code <strong>in a month</strong>?

                    <br>

                    <a href="{{ path(constant('Rector\\Website\\ValueObject\\RouteName::CONTACT')) }}">Dare us</a>
                </p>
            </div>
        </div>
    </div>
</div>
