<section class="home-bg-img" id="big_header">
    <div class="container pt-3">
        <a href="/" id="main_logo">
            <img src="/assets/images/logo/rector-no_frame_vector.svg" alt="">
            <div class="logo_text">Rector</div>
        </a>

        <div class="clearfix"></div>
    </div>
</section>
