<!DOCTYPE html>
<html lang="en">
<head>
    {% include "_snippets/layout/head.twig" %}
</head>

<body>
    {% block content %}{% endblock %}

    {% include "_snippets/layout/footer.twig" %}

    {% include "_snippets/layout/google_analytics.twig" %}
    </body>
</html>
