<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "_snippets/layout/head.twig" %}
        {% include "_snippets/styles.twig" %}
    </head>

    <body>
        {% block content %}{% endblock %}

        {% include "_snippets/layout/footer.twig" %}
        {% include "_snippets/layout/google_analytics.twig" %}
        {% include "_snippets/javascripts.twig" %}
    </body>
</html>
