// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';
$black: #24292e;

// Make sure the bootstrap-sass and lato fonts are resolved correctly
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "logo";
@import "menu";
@import "prism";

/* ---------------------------------------------------- */

body {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

a, a:hover, a:focus, button, button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/*==========================
        2.HELPER
============================*/

.section .container {
    padding-top: 5em;
    padding-bottom: 5em;
}

/*==========================
        4.HOME
============================*/

.home-bg-img {
    background-image: url('/assets/images/home-bg3.jpg');
    background-size: cover;
    background-position: top center;
}


/*==========================
        20.RESPONSIVE
============================*/

#company_logos img {
    //max-width: 100%;

    width: 10em;
    height: 3em;
    object-fit: scale-down;

    @include media-breakpoint-down(md) {
        padding: 0 .1em;
    }
}

h2 {
    margin-left: 0;
    margin-bottom: 1em;
    padding-left: 0;
    padding-bottom: 1em;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.9em;

    @include media-breakpoint-down(md) {
        font-size: 1.7em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.3em;
    }
}

.blockquote {
    font-size: 1.3em;
    line-height: 1.5em;
}

.blockquote strong, nobr {
    font-size: 1em;
}

#reference strong {
    font-size: 1em;
}

#subtitle {
    color: #FFF;
    font-size: 2em;

    @include media-breakpoint-down(md) {
        font-size: 1.4em;

        .btn {
            font-size: 1em;
        }
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.2em;

        .btn {
            font-size: .8em;
        }
    }
}

#subpage {
    padding-top: 2em;
    padding-bottom: 5em;

    h2 {
        margin-top: 1em;
        margin-bottom: .5em;
        text-align: center;
    }
}

.card {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .1);
}

.btn span {
    font-size: 1em;
}

/* inspired by backers from https://nette.org/ */
#company_logos {
    img {
        transition: all .3s ease;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .66;
        transform: scale(0.90);
    }

    a:hover img {
        filter: grayscale(0%);
        opacity: 1;
        transform: scale(1);
        transition: .2s;
    }
}

// sticky footer: see https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3
html, body {
    height: 100%;
}

body {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1 0 auto;
}

#footer {
    flex-shrink: 0;
    padding: 1.8em 0;

    background-color: $black;
    color: #FFF;
    font-size: 1.3em;

    a {
        color: #21c87a;

        &:hover {
            color: #20a55b;
        }
    }

    #made_by {
        color: #DDD;
        font-size: 1em;
    }
}

.section:not(.bg-light) {
    background-image: url('/assets/images/chars.png');
    background-position: top left;
    background-repeat: repeat;
}

h1 {
    color: #FFF;
    font-size: calc(2.5em + 1.2vw);
    line-height: 1.4em;
    font-weight: 300;
    font-family: "Roboto Slab";
    text-align: center;
    padding-bottom: .5em;

    strong {
        font-size: 1em;
    }

    @include media-breakpoint-down(md) {
        font-size: 2.4em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.7em;
    }
}

.container {
    max-width: 55em;
}

.card h3 {
    font-size: 1.5em;
}

ul.list-noindent {
    margin-left: 1.2em;
    padding-left: 0;
}

#subpage .section h2 {
    margin-top: 0;
}

.reference-text {
    font-size: 1.3em;
}

/*!* not sure why, but em in footer are bigger; this is to make the width the same size as rest *!*/
#footer .container {
    max-width: 50em;
    font-size: .8em;
}

h2 {
    color: #4b4b4b;
    text-align: center;

    small {
        font-size: 0.7em;
    }
}

q.blockquote {
    display: block;
}

.bg-black {
    background-color: #333;
}

.text-bold {
    font-weight: bold;
}


/* show/hidden menu; ref https://stackoverflow.com/a/35362821/1348344 */
@media (max-width: 768px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .hidden-md-up {
        display: none !important;
    }
}

.bg-light {
    background: #DDD;
}

.text-bigger {
    font-size: 1.3em;

    strong {
        font-size: 1em;
    }
}

.img-face {
    max-width: 10em;
    margin: .1em auto 2.8em auto;
}

h1 em, h2 em, h2 a {
    font-size: 1em;
}

.list-group {
    margin-left: 1.3em;

    li {
        margin-bottom: .5em;
    }
}

.perex {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.3em;
}

#small_header {
    background: #222;

    h1 {
        text-align: left;
        font-size: 2.2em;
        line-height: 1.3em;
        margin-bottom: 0;
    }
}

.demo_form_code {
    width: 100%;
}

#rector_run_form {
    /* code highlight */
    .CodeMirror {
        border: 1px solid grey;
        font-size: .8em;

        height: 100%;

        &.codemirror_php {
            min-height: 25em;
        }
    }

    .codemirror_yaml {
        .CodeMirror {
            min-height: 5em;
        }
    }
}

#demo {
    min-height: 36em;

    &.short {
        min-height: 12em;
    }
}

#demo_result {
    min-height: 25em;
    background: #666;

    h2, h3, .rector-version {
        color: #fcf8e3;
    }

    .rector-version {
        font-size: 15px;
        margin-top: -15px;

        a {
            font-weight: bold;
        }
    }
}

.invalid-feedback {
    margin-bottom: 1em;

    .d-block + .d-block {
        margin-top: 5px;
    }
}

.badge, .invalid-feedback {
    font-size: 1em;
}

.badge {
    margin-right: .5em;
}

h2 a, a {
    color: #21c87a;

    &:hover {
        color: #20a55b;
    }
}

#subpage.post {
    h2 {
        text-align: left;
        padding-bottom: 0;
    }

    h3 {
        margin-top: 1em;
    }
}

#subpage.contact {
    .card {
        margin-bottom: 1em;
    }
}
