// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182

@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

$black: #24292e;

// Make sure the bootstrap-sass and lato fonts are resolved correctly
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "menu";
@import "prism";

/* ---------------------------------------------------- */

body {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

a, a:hover, a:focus, button, button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.bigger-buttons .btn {
    padding: .6em 1.1em;
    font-size: 1.3em;

    @include media-breakpoint-down(sm) {
        padding: .4em 1em;
        font-size: 1em;
    }
}

.alert a, .alert a:active, .alert a:focus, {
    color: inherit;
    text-decoration: underline !important;

    &:hover {
        color: inherit;
        text-decoration: none !important;
    }
}

/*==========================
        20.RESPONSIVE
============================*/

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 1.4rem;
    line-height: 2em;
    margin-top: .7em;
}

// sticky footer: see https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3
html, body {
    height: 100%;
}

body {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#footer {
    padding: 1.8em 0;
    background-color: $black;
    color: #FFF;

    font-size: 1em;

    @include media-breakpoint-down(sm) {
        font-size: .9em;
    }

    ul.navbar-nav {
        margin-top: -.7em;
        display: block;

        li {
            float: left;
            padding: .2em .6em;

            a.nav-link {
                text-decoration: underline !important;

                &:hover {
                    text-decoration: none !important;
                }
            }
        }
    }

    a {
        color: #FFF;

        &:hover {
            color: #DDD;
        }
    }
}

h1 {
    font-size: 2.6em;
    line-height: 1.4em;
    padding-bottom: .5em;

    @include media-breakpoint-down(md) {
        font-size: 2.4em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.7em;
    }

    &.main-title {
        margin-top: 1.4em;
        line-height: 1.5em;
        font-weight: 800;
        text-align: center;

        font-size: 3.4em;

        @include media-breakpoint-down(md) {
            line-height: 1.3em;
            font-size: 3em;
        }

        @include media-breakpoint-down(sm) {
            font-size: 2.2em;
        }
    }
}


h2 {
    font-size: 1.8em;
    line-height: 1.4em;
}

.container {
    max-width: 55em;
    padding-left: 1em;
    padding-right: 1em;
}

ul.list-noindent {
    margin-left: 1.2em;
    padding-left: 0;

    li {
        line-height: 1.7em;
    }
}

ul.list-nobullet {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        line-height: 2em;
    }
}

.text-medium {
    font-size: 1.2em;
}

.text-bigger {
    font-size: 1.4em;

    strong {
        font-size: 1em;
    }

    @include media-breakpoint-down(md) {
        font-size: 1.3em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.2em;
    }
}

.img-face {
    max-width: 10em;
    margin: .1em auto 2.8em auto;
}

.perex {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    padding: .7em 0;
}

#homepage {
    margin-bottom: 8em;
    clear: both;

    h2 {
        margin: 2em 0;
        text-align: center;
        font-weight: 500 !important;
    }
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: bold;
}

.img-face-smaller-right {
    float: right;
    max-width: 5em;
}

.img-face-smaller-left {
    float: left;
    max-width: 5em;
    margin: .1em auto 1.6em auto;
}

.blockquote {
    font-size: 1.4em;

    @include media-breakpoint-down(md) {
        font-size: 1.3em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.1em;
    }
}

.demo_form_code {
    width: 100%;
}

#rector_run_form {
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
        font-size: .8em;
    }

    .card-header {
        font-size: 1em;
    }

    .card .form-group {
        margin-bottom: 0;
    }
}

.text-bold {
    font-weight: bold;
}

.cm-negative {
    background: #ffd4d4;
    display: inline-block;
}

.cm-positive {
    background: #e8ffd4;
    display: inline-block;
}

.invalid-feedback {
    margin-bottom: 1em;

    .d-block + .d-block {
        margin-top: 5px;
    }
}

#homepage, #post, #blog, #contact, #mission, #hire_team, #documentation, #about {
    margin-top: 1em;
    margin-bottom: 6em;

    a:not(.btn) {
        color: #59a35e;
        text-decoration: underline !important;

        &:hover {
            color: #2e7a33;
            text-decoration: none !important;
        }
    }

    h1 {
        margin-top: 1.6em;
        margin-bottom: 1.3em;
    }

    .text-body {
        font-size: 1.1em;
    }
}

.navbar-dark .navbar-nav {
    text-align: center;

    a.nav-link {
        color: #DDD;
        margin: 0;
        padding: .4em .9em;

        &:hover {
            color: #FFF;
        }
    }

    .active {
        a.nav-link, a.nav-link:active {
            color: #FFF;
        }
    }
}

.text-smaller {
    font-size: .9em;
}

.text-grey {
    color: #959da5;
}

.text-light-50 {
    color: #efefef;
}

ol {
    padding-left: 1em;

    li {
        margin-top: 1.2em;
    }
}

// forms
label.required:before {
    content: "* ";
    color: #dc3545;
}

.img-thumbnail {
    margin-bottom: .5em;
}

#top_right_logo {
    float: right;

    img {
        max-height: 2.4em;
    }
}

// from the logo window - http://getrector.org/assets/images/logo/rector-white.svg
.text-rector-green {
    color: #59a35e;
}

.pull-right {
    float: right;
}

// full height background for removed and added lines
.token.deleted, .token.added {
    display: inline-block;
}

#contribution_box {
    background-color: #fff7c4;
    width: 12em;

    .card-body {
        padding: .7em 1em;
    }
}

#references {
    .company-logo {
        max-width: 10em;
        margin-top: .4em;
        margin-right: 0;
    }

    .company-quote {
        font-size: 1.2em;

        @media (max-width: 750px) {
            font-size: 1em;
        }
    }

    .company-quote-card-body {
        padding: 1.5em 1em 0 2em;
    }
}

#share_buttons {
    a {
        color: #999;
        margin-right: .8em;

        &:hover {
            color: #555;
        }
    }
}

.btn-primary {
    background: white;
    border-color: #3da6c0;
    color: #3da6c0;

    &:hover {
        background: #3da6c0;
        border-color: #3da6c0;
    }

    // style on clicking on the button
    --bs-btn-active-bg: #1d6c7d;
    --bs-btn-active-border-color: #1d6c7d;
}

#rector_version {
    a {
        color: grey;
        text-decoration: none !important;

        &:hover {
            text-decoration: underline !important;;
        }
    }
}

.project-border-line {
    border: 1px dashed #AAA;
    margin-top: 6em;
    margin-bottom: 6em;
}

.quote-border-line {
    border: 1px dashed #AAA;
    margin-top: 3em;
    margin-bottom: 3em;
}

.border-line {
    border: 1px dashed #AAA;
    margin-top: 1em;
    margin-bottom: 1em;
}

#documentation_menu {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        margin-bottom: .8em;
        line-height: 1.2em;
    }
}

#documentation {
    h1 {
        margin-top: .5em;
        margin-bottom: 0;
        font-size: 2.3em;
    }

    h2 {
        font-size: 1.4em;
    }

    pre {
        margin-bottom: 1.7em;
    }
}

#company_logos {
    img {
        max-width: 8em;
        opacity: 70%;
        transition-duration: .3s;

        &:hover {
            opacity: 100%;
        }
    }
}

#benefits {
    p {
        font-size: 1.1em;
        line-height: 1.6em;
    }
}

@include media-breakpoint-down(sm) {
    .btn-lg {
        font-size: 1em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.1em;
    }

    .text-bigger {
        font-size: 1.1em;
    }

    .navbar-nav {
        li {
            line-height: 1em;
        }
    }

    .text-medium {
        font-size: 1.1em;
    }

    #footer {
        ul.navbar-nav {
            margin-top: .8em;

            li {
                padding: .2em 0;
                margin-right: .8em;
            }
        }
    }
}
