#main_logo {
    margin: 1em auto;

    img {
        width: 3.5em;
        float: left;
        padding-right: 1.2em;

        @include media-breakpoint-down(md) {
            width: 3em;
        }
    }

    .logo_text {
        line-height: 1.4em;
        color: white;
        font-weight: 700;
        font-family: "Montserrat";
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: .05em;
        float: right;

        @include media-breakpoint-down(md) {
            font-size: 1.6em;
        }
    }
}
