<section class="section" id="services">
    <div class="container">
        <div class="text-center">
            <h2>
                2 Ways to Turn Legacy Code into Joy
            </h2>
        </div>



        <div class="row mt-5 services_boxes vertical-content rounded p-4">
            <div class="col-6">
                <div class="services_icon text-center">
                    <i class="pe-7s-piggy"></i>
                </div>
                <div class="services_content text-center">
                    <h4>
                        For Developers
                    </h4>
                    <p class="mt-3 text-muted mx-auto">
                        {% for item in copy.instant_upgrades.bullets %}
                            {{ item }}<br>
                        {% endfor %}

                    </p>
                </div>
            </div>

            <div class="col-6">
                <div class="services_icon text-center">
                    <h4>
                        For Companies
                    </h4>
                    <i class="pe-7s-diskette"></i>
                </div>

                <div class="services_content text-center">
                    <p class="mt-3 text-muted mx-auto">
                        {% for item in copy.instant_refactoring.bullets %}
                            {{ item }}<br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="https://github.com/rectorphp/rector" class="btn btn-custom mt-5">
                <em class="pe-7s-plane pe-lg"></em>
                &nbsp;
                Visit Rector on Github
            </a>
        </div>
    </div>
</section>
