<section class="section bg-light">
    <div class="container">
        <h2 class="text-center mb-5">Projects with Instant Upgrade</h2>

        <div class="row" id="projects">
            {% for project in projects %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="logo_img pt-4 pb-4">
                        <a href="{{ project.url }}">
                            <img src="/assets/images/projects/{{ project.image }}" alt="logo-img" class="mx-auto img-fluid d-block">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
