<a name="show"></a>
<section class="section bg-light" id="video">
    <div class="container">
        <div class="text-center">
            <h2>{{ copy.video.title }}</h2>
        </div>

        <div class="row mt-4 pt-4">
            <div class="col-lg-12">
                <div class="text-center">
                    <img src="/assets/images/rector-showcase.gif" alt="" class="m-auto rounded">
                    {# @todo replace with ascicast #}
                    {#<script id="asciicast-220449" src="https://asciinema.org/a/220449.js" async></script>#}
                </div>
            </div>
        </div>
    </div>
</section>
