@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "menu";


// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182

@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

$black: #24292e;

// Make sure the bootstrap-sass and lato fonts are resolved correctly
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";



/* ---------------------------------------------------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-size: 110%;
}

a, a:hover, a:focus, button, button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.bigger-buttons .btn {
    padding: .8rem 1.3rem;
    font-size: 1.3rem;

    @include media-breakpoint-down(sm) {
        padding: .5rem 1.1rem;
        font-size: 1.1rem;
    }
}

.alert a, .alert a:active, .alert a:focus, {
    color: inherit;
    text-decoration: underline !important;

    &:hover {
        color: inherit;
        text-decoration: none !important;
    }
}

/*==========================
        20.RESPONSIVE
============================*/

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin-top: 1rem;
}

// sticky footer: see https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3
html, body {
    height: 100%;
}

#faq {
    p {
        font-size: 1.2em;
    }

    .col-12 {
        margin-bottom: 1em;
    }
}

#footer {
    padding: 2rem 0;
    background-color: $black;
    color: #FFF;

    font-size: 1.13rem;

    @include media-breakpoint-down(sm) {
        font-size: .9em;
    }

    ul.navbar-nav {
        margin-top: -.8rem;
        display: block;

        li {
            display: inline-flex;
            padding: .2rem .6rem;

            a.nav-link {
                text-decoration: underline !important;

                &:hover {
                    text-decoration: none !important;
                }
            }
        }
    }

    a {
        color: #FFF;

        &:hover {
            color: #DDD;
        }
    }
}

h1 {
    font-size: 3rem;
    line-height: 3.8rem;

    @include media-breakpoint-down(md) {
        font-size: 2.4em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.7em;
    }

    &.main-title {
        margin-top: 3.5rem;
        line-height: 5.3rem;
        font-size: 4em;

        font-weight: 800;
        text-align: center;

        @include media-breakpoint-down(md) {
            line-height: 1.3em;
            font-size: 3em;
        }

        @include media-breakpoint-down(sm) {
            font-size: 2.2em;
        }
    }
}


h2 {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-top: 1em;
}

.container {
    max-width: 1100px;
    padding-left: 1em;
    padding-right: 1em;
}

ul.list-noindent {
    margin-left: 1.2em;
    padding-left: 0;

    li {
        line-height: 1.7em;
    }
}

ul.list-nobullet {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        line-height: 1.7em;
        margin-bottom: .7em;
    }
}

.text-medium {
    font-size: 1.2em;
}

.text-bigger {
    font-size: 1.53rem;

    strong {
        font-size: 1em;
    }

    @include media-breakpoint-down(md) {
        font-size: 1.3em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.2em;
    }
}

.img-face {
    max-width: 10em;
    margin: .1em auto 2.8em auto;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: bold;
}

.img-face-smaller-right {
    max-width: 5em;
}

.img-face-smaller-left {
    max-width: 7rem;
    margin: .1em auto 1.6em auto;
}

.blockquote {
    font-size: 1.4em;

    @include media-breakpoint-down(md) {
        font-size: 1.3em;
    }

    @include media-breakpoint-down(sm) {
        font-size: 1.1em;
    }
}

.demo_form_code {
    width: 100%;
}

#rector_run_form {
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
        font-size: 1em;
    }

    .card-header {
        font-size: 1em;
    }

    .card .form-group {
        margin-bottom: 0;
    }
}

.text-bold {
    font-weight: bold;
}

#homepage, #post, #blog, #interactive, #contact, #hire_team, #documentation, #about, #filter, #rector_run_form, #simple_page {
    margin-top: 1em;
    margin-bottom: 6em;

    a:not(.btn) {
        color: #59a35e;
        text-decoration: underline !important;

        &:hover {
            color: #2e7a33;
            text-decoration: none !important;
        }
    }

    h1 {
        margin-top: 1.6em;
        margin-bottom: 2em;
    }

    h2 {
        margin-top: 1.3em;
        margin-bottom: .6em;
    }

    h3 {
        margin-top: 1em;
    }

    .text-body {
        font-size: 1.1em;
    }
}

#homepage {
    margin-bottom: 8em;
    clear: both;

    h2 {
        text-align: center;
        margin-bottom: 2.5em;
        font-weight: 500 !important;
    }
}

.navbar-dark .navbar-nav {
    text-align: center;

    a.nav-link {
        color: #DDD;
        margin: 0;
        padding: .4em .9em;

        &:hover {
            color: #FFF;
        }
    }

    .active {
        a.nav-link, a.nav-link:active {
            color: #FFF;
        }
    }
}

.text-smaller {
    font-size: .9em;
}

// forms
label.required:before {
    content: "* ";
    color: #dc3545;
}

.img-thumbnail {
    margin-bottom: .5em;
}

#top_right_logo {
    img {
        max-height: 3rem;
    }
}

// from the logo window - http://getrector.com/assets/images/logo/rector-white.svg
.text-rector-green {
    color: #59a35e;
}

#references {
    .company-logo {
        max-width: 10em;
        margin-right: 0;
    }

    .company-quote {
        font-size: 1.4em;

        @media (max-width: 750px) {
            font-size: 1em;
        }
    }

    .company-quote-card-body {
        padding: 1.5em 1em 0 2em;
    }

    h3 {
        font-size: 1.8rem;
        margin-top: 0;

        @media (max-width: 750px) {
            font-size: 1.4em;
        }
    }
}

.btn-primary {
    background: white;
    border-color: #3da6c0;
    color: #3da6c0;

    &:hover {
        background: #3da6c0;
        border-color: #3da6c0;
    }

    // style on clicking on the button
    --bs-btn-active-bg: #1d6c7d;
    --bs-btn-active-border-color: #1d6c7d;
}

#rector_version {
    a {
        color: grey;
        text-decoration: underline !important;

        &:hover {
            text-decoration: none !important;;
        }
    }
}

.project-border-line {
    border: 1px dashed #AAA;
    margin-top: 6em;
    margin-bottom: 6em;
}

.quote-border-line {
    border: 1px dashed #AAA;
    margin-top: 3em;
    margin-bottom: 3em;
}

.border-line {
    border: 1px dashed #AAA;
    margin-top: 1em;
    margin-bottom: 1em;
}

#documentation_menu {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        margin-bottom: .8em;
        line-height: 1.2em;
    }
}

#post {
    h1 {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }

    h2 {
        margin-top: 1em;
    }

    .perex {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.4em;
        padding: .7em 0;
    }

    .text-body {
        font-size: 1.2em;
    }
}

#documentation {
    h1 {
        margin-top: .4rem;
        margin-bottom: 0;
        font-size: 2.3em;
    }

    h2 {
        font-size: 1.6rem;
        margin-top: 2.7rem;
        margin-bottom: .8rem;
    }

    pre {
        margin-bottom: 2rem;
    }
}

#company_logos {
    img {
        max-width: 16%;
        opacity: 60%;
        transition-duration: .3s;
        padding: 0 .7em;

        flex: 1 1 10%;

        &:hover {
            opacity: 100%;
        }
    }
}

#benefits {
    p {
        line-height: 1.6em;
    }
}

@include media-breakpoint-down(sm) {
    .btn-lg {
        font-size: 1em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.1em;
    }

    .text-bigger {
        font-size: 1.1em;
    }

    .navbar-nav {
        li {
            line-height: 1em;
        }
    }

    .text-medium {
        font-size: 1.1em;
    }

    #footer {
        ul.navbar-nav {
            margin-top: .8em;

            li {
                padding: .2em 0;
                margin-right: .8em;
            }
        }
    }

    .blockquote {
        font-size: 1em;
    }

    .img-face-smaller-left, .img-face-smaller-right {
        max-width: 4em;
    }

    .img-face-smaller-left {
        margin: .1em .8em .3em 0;
    }

    .img-face-smaller-right {
        margin: .1em 0 .3em .8em;
    }
}

#post ul {
    padding-left: 1em;
    margin-bottom: .5em;

    li {
        line-height: 1.6em;
    }
}

#clickable-nodes-code {
    a {
        // color: #DDD;
        color: #f08e48;
        padding: .4em .5em;
        margin: -.4em -.5em;
        flex: 1;

        &:hover {
            color: #5dd7b9;
            transition-duration: .7s;
        }

        &.active-node {
            color: #5dd7b9;
            text-decoration: underline;
        }
    }
}

#filter {
    select, input {
        font-size: 1em;
    }

    .filter-code-sample {
        font-size: .9em;
    }
}

#interactive h3 em, #homepage h3 em {
    font-size: 1.2em;
}
