code[class*="language-"], pre[class*="language-"] {
    font-size: 1em;

    span {
        font-size: 1em;
    }
}

.token.deleted {
    color: #980707;
    background: #fdd;
}

.token.inserted {
    color: #488b3a;
    background: #dfd;
}
