<div class="p-4">
    <h3>Sections</h3>

    <div id="documentation_menu">

        {# @see https://github.com/rectorphp/rector/tree/main/docs #}
        <ul>
            <li>
                <a href="{{ path('documentation') }}">Introduction</a>
            </li>
        </ul>

        <hr class="border-line">

        <ul>
            {% for documentation_section in documentations_sections %}
                {# @var documentation_section \Rector\Website\ValueObject\DocumentationSection #}
                <li>
                    <a href="{{ path('documentation', { section: documentation_section.slug }) }}">
                        {{ documentation_section.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <hr class="border-line">

        <ul>
            <li>
                <a href="https://leanpub.com/rector-the-power-of-automated-refactoring">
                    Learn Rector in Depth from Book
                </a>
            </li>
        </ul>
    </div>

</div>
