<div class="p-4">

    {# @see https://github.com/rectorphp/rector/tree/main/docs #}
    <ul>
        <li>
            <a href="{{ path('docs') }}">Introduction</a>
        </li>
        <li>
            <a href="{{ path('docs_import_names') }}">Improt Names</a>
        </li>

        <li>Learn Rector in Depth from Book</li>
    </ul>

</div>
