<br>
<br>
<br>
<br>

<div class="text-center">
    <em class="fas fa-home text-light"></em>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <em class="fas fa-home text-light-50"></em>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <em class="fas fa-home text-light"></em>
</div>

<br>
<br>
