{% extends "base.twig" %}

{% set page_title %}Your Legacy? Our Ecstasy!{% endset %}

{% block subtitle %}Contact us to make impossible happen.{% endblock %}

{% block main %}
    <div class="container contact" id="subpage">
        <h3 id="invoice-details">Invoice Details</h3>

        <p>
            Edukai, s.r.o.
        </p>

        <p>
            Dubová 4<br>
            460 01<br>
            Liberec<br>
            Czech Republic<br>
            Europe
        </p>

        <p>
            ID (IČ): 07536721<br>
            VAT ID (DIČ): CZ07536721
        </p>

        <p>
            Bank account: 2201520677/2010
            <br>
            IBAN: CZ5120100000002201520677
            <br>
            BIC/SWIFT: FIOBCZPPXXX
        </p>
    </div>
{% endblock %}
