{% extends "base.twig" %}

{% block main %}
    <div id="contact">
        <h1 class="main-title">
            Rector - The&nbsp;Power of
            Automated&nbsp;Refactoring
        </h1>

        <div class="row">
            <div class="col-12 col-sm-6">
                <a href="https://leanpub.com/rector-the-power-of-automated-refactoring?utm_source=getrectororg_book_detail">
                    <img src="/assets/images/logo/logo_bigger/rector_book.png" class="img-fluid img-thumbnail">
                </a>
            </div>

            {#        <h2>#}
            {#            Learn <span class="text-rector-blue">Rector in Depth </span> from a Book#}
            {#        </h2>#}

            {#        <div class="row">#}
            {#            <div class="col-12 col-md-4 offset-md-1 text-center">#}
            {#                <a href="https://leanpub.com/rector-the-power-of-automated-refactoring">#}
            {#                    <img src="/assets/images/logo/logo_bigger/rector_book.png" style="max-width:100%; border:1px solid #DDD; padding: .7em">#}
            {#                </a>#}
            {#            </div>#}
            {#            <div class="col-12 col-md-7 mt-4 mt-md-0">#}
            {#                <p class="text-bigger">#}
            {#                    <strong>#}
            {#                    In May 2021 we've released a book:<br>#}
            {#                    <a href="https://leanpub.com/rector-the-power-of-automated-refactoring?utm_source=getrectororg_homepage">Rector - The Power of Automated Refactoring</a>#}
            {#                    </strong>#}
            {#                </p>#}

            {#                <p>What's inside the book?</p>#}
            {#                <ul>#}
            {#                    <li>How Rector works internally?</li>#}
            {#                    <li>How to create your own rules and how test them?</li>#}
            {#                    <li>Why Rector was born?</li>#}
            {#                    <li>How will next 5 years of PHP shape differently?</li>#}
            {#                </ul>#}

            {#                <a href="https://leanpub.com/rector-the-power-of-automated-refactoring" class="btn btn-success btn-lg mt-4 mb-4">#}
            {#                    Grab a Copy!#}
            {#                </a>#}

            {#                <p>#}
            {#                    By buying the book you directly support Rector maintainers.#}
            {#                </p>#}
            {#            </div>#}
            {#        </div>#}

            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                <p>In this book, seasoned developers Matthias Noback and Tomas Votruba give you all the information you need to become a Rector power user.</p>

                <h2>What will You Learn?</h2>

                <ul>
                    <li>How to make Rector part of your daily development workflow</li>
                    <li>How to create Rector rules that replace repetitive manual refactoring work</li>
                    <li>How to automate even more with Rector by adding it to your project's build process</li>
                </ul>

                <a class="btn btn-success btn-lg mt-4" href="https://leanpub.com/rector-the-power-of-automated-refactoring">
                    Get the Book
                </a>
            </div>
        </div>
    </div>
{% endblock %}
