{% extends "base.twig" %}

{% block main %}
    <div id="contact">
        <h1 class="main-title">
            The First Book about Rector
        </h1>

        <div class="row">
            <div class="col-6">
                <a href="https://leanpub.com/rector-the-power-of-automated-refactoring">
                    <img src="/assets/images/logo/logo_bigger/rector_book.png" class="img-fluid img-thumbnail">
                </a>
            </div>

            <div class="col-6">
                <p>In this book, seasoned developers Matthias Noback and Tomas Votruba give you all the information you need to become a Rector power user.</p>

                <h2>What will You Learn?</h2>

                <ul>
                    <li>How to make Rector part of your daily development workflow</li>
                    <li>How to create Rector rules that replace repetitive manual refactoring work</li>
                    <li>How to automate even more with Rector by adding it to your project's build process</li>
                </ul>

                <a class="btn btn-success btn-lg mt-4" href="https://leanpub.com/rector-the-power-of-automated-refactoring">
                    Get the Book
                </a>
            </div>
        </div>
    </div>
{% endblock %}
