{% extends "base.twig" %}

{% set page_title %}Your Legacy? Our Ecstasy!{% endset %}

{% block subtitle %}Contact us to make impossible happen.{% endblock %}

{% block main %}
    <div class="container" id="subpage">
        <div class="row" style="min-height: 30em">
            <div class="col-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Do You Want to...?</h2>

                        <ul>
                            <li>migrate your framework</li>
                            <li>upgrade your PHP or your framework to the latest version</li>
                            <li>cleanup your code base</li>
                            <li>ask about Rector internals</li>
                            <li>order in-house Rector training</li>
                        </ul>

                        <div class="row">
                            <div class="col-5">
                                <img src="https://pehapkari.cz/uploads/images/tomas_votruba.jpg" class="rounded-circle ml-4 img-face shadow">

                            </div>
                            <div class="col-7 pl-4 pt-5 align-middle">
                                <h3>Contact Tomas</h3>

                                <p>
                                    <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>
                                    <br>
                                    <a href="mailto:tomas@getrector.org">tomas@getrector.org</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Or Do You Want to...?</h2>

                        <ul>
                            <li>
                                start using Rector in CI
                            </li>
                            <li>
                                get Rector to run in Docker
                            </li>
                        </ul>

                        <div class="row">
                            <div class="col-5">
                                <img src="https://pehapkari.cz/uploads/images/jan_mikes.jpg" class="rounded-circle ml-4 img-face shadow">

                            </div>
                            <div class="col-7 pl-4 pt-5 align-middle">
                                <h3>Write Honza</h3>
                                <p>
                                    <a href="mailto:honza@getrector.org">honza@getrector.org</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
