{% extends "base.twig" %}

{% set page_title %}Your Legacy? Our Ecstasy!{% endset %}

{% block main %}
    <div id="blog">
        <h1>Let's Make Impossible Happen</h1>

        <div class="row">
            <div class="col-12 col-sm-4">
                <h2>Tomas Votruba</h2>
                <p>Chief Cleaning Lady</p>

                <div class="text-center mt-5">
                    <img src="https://avatars.githubusercontent.com/u/924196" class="rounded-circle img-face shadow">
                </div>

                <div class="text-center text-bigger">
                    <span class="pl-2 pr-2">•</span>
                    <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>
                    <span class="pl-2 pr-2">•</span>
                    <a href="mailto:tomas@getrector.org">tomas@getrector.org</a>
                </div>
            </div>

            <div class="col-12 col-sm-8">
                <h2>Send us Message with your Project</h2>

                <p>How do you want to impove it?</p>

                {{ form(contact_form) }}
            </div>
            {# aspiring cleaning ladies... #}
            {# slamduik #}
        </div>

        <br>
        <br>
        <br>
        <br>

        <h3 id="company-details">Company Details</h3>

        <p>
            Edukai, s.r.o.
        </p>

        <p>
            Dubová 4<br>
            460 01<br>
            Liberec<br>
            Czech Republic
        </p>

        <p>
            ID: 07536721<br>
            VAT ID: CZ07536721
        </p>
    </div>
{% endblock %}
