{% extends "base.twig" %}

{% block main %}
    <div id="contact">
        <h1>{{ page_title }}</h1>

        <div class="row">
            <div class="col-12 col-sm-10 text-bigger">
                <p class="mb-5">Tell us your biggest problems you struggle with. We won't judge you, we've seen a lot of legacy projects and are here to help.</p>

                <p>Write Tomas at <a href="mailto:tomas@getrector.org">tomas@getrector.org</a>.</p>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>

        <h2>Meet the Team</h2>

        <div class="row">
            <div class="col-12 col-sm-4">
                <h3>Tomas Votruba</h3>
                <p>Founder and Passionate Changer</p>

                <div class="mt-5">
                    <img src="https://user-images.githubusercontent.com/924196/112137773-f5e7ce00-8bd0-11eb-980d-f6f1a4fb3f0d.jpg" class="rounded-circle img-face shadow ml-4">
                </div>

                <div class="text-bigger">
                    <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>

                    <br>
                    <a href="mailto:tomas@getrector.org">tomas@getrector.org</a>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <h3>Abdul Malik Ikhsan</h3>
                <p>Restless GitHub Repository Maintainer</p>

                <div class="mt-5">
                    <img src="https://avatars.githubusercontent.com/u/459648?v=4" class="rounded-circle img-face shadow ml-4">
                </div>

                <div class="text-bigger">
                    <a href="https://github.com/samsonasik">Samsonasik</a>
                    <br>
                    <a href="https://twitter.com/samsonasik">@samsonasik</a>
                </div>
            </div>

            <div class="col-12 col-sm-4 mb-5">
                <h3>Sebastian Schreiber</h3>
                <p>Positive Leader and Click Founder</p>

                <div class="mt-5">
                    <img src="https://avatars.githubusercontent.com/u/13050560?v=4" class="rounded-circle img-face shadow ml-4">
                </div>

                <div class="text-bigger">
                    <a href="https://github.com/sabbelasichon">sabbelasichon</a>
                    <br>
                    <a href="https://twitter.com/schreiberten">@schreiberten</a>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <h3>Michal Moravec</h3>

                <p>Crazy Marketing Ideas Maker</p>

                <div class="mt-5">
                    <img class="rounded-circle img-face shadow ml-4" src="https://user-images.githubusercontent.com/924196/112137770-f54f3780-8bd0-11eb-98bb-a630669692d7.jpg" alt="">
                </div>

                <div class="text-bigger">
                    <a href="tel:+420775182880">+420 <strong>775 182 880</strong></a>
                    <a href="mailto:michal@getrector.org">michal@getrector.org</a>
                </div>
            </div>

            <div class="col-12 col-sm-4">
            </div>

            <div class="col-12 col-sm-4" id="company-details">
                <h3>Company Details</h3>

                <p>Edukai, s.r.o.</p>

                <p>
                    Dubová 4<br>
                    460 01<br>
                    Liberec<br>
                    Czech Republic
                </p>

                <p>
                    ID: 07536721<br>
                    VAT ID: CZ07536721
                </p>
            </div>
        </div>
    </div>
{% endblock %}
