{% extends "base.twig" %}

{% block main %}
    <div id="contact">
        <h1>{{ page_title }}</h1>

        <div class="row">
            <div class="col-12 col-sm-8">
                <h2>How can we Help Your Project?</h2>

                <br>

                <p class="mb-5">Tell us your biggest problems you struggle with. <strong>You can be honest with us</strong>, we've seen a lot of legacy projects. We'll get in touch with you within 3 days.</p>

                {{ include('form/contact_form.twig') }}
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>

        <h2>Meet the Team</h2>

        <div class="row">
            <div class="col-12 col-sm-4">
                <h3>Tomas Votruba</h3>
                <p>Chief Cleaning Officer</p>

                <div class="mt-5">
                    <div class="rounded-circle img-face shadow ml-4 face tomas-face"></div>
                </div>

                <div class="text-bigger">
                    <span class="pl-2 pr-2">•</span>
                    <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>

                    <br>
                    <span class="pl-2 pr-2">•</span><a href="mailto:tomas@getrector.org">tomas@getrector.org</a>
                </div>
            </div>

            <div class="col-12 col-sm-4">
                <h3>Michal Moravec</h3>

                <p>Chief Marketing Officer</p>

                <div class="mt-5">
                    <div class="rounded-circle img-face shadow ml-4 face michal-face"></div>
                </div>

                <div class="text-bigger">
                    <span class="pl-2 pr-2">•</span><a href="mailto:michal@getrector.org">michal@getrector.org</a>
                </div>

            </div>

            <div class="col-12 col-sm-4" id="company-details">
                <h3>Company Details</h3>

                <p>Edukai, s.r.o.</p>

                <p>
                    Dubová 4<br>
                    460 01<br>
                    Liberec<br>
                    Czech Republic
                </p>

                <p>
                    ID: 07536721<br>
                    VAT ID: CZ07536721
                </p>
            </div>
        </div>
    </div>
{% endblock %}
