{% extends "base.twig" %}

{% set page_title %}Your Legacy? Our Ecstasy!{% endset %}

{% block subtitle %}Contact us to make impossible happen.{% endblock %}

{% block main %}
    <div class="container contact" id="subpage">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h2>
                    Tomas Votruba
                    <br>
                    <small>Chief Cleaning Lady</small>
                </h2>

                <div class="text-center">
                    <img src="https://avatars.githubusercontent.com/u/924196" class="rounded-circle img-face shadow">
                </div>

                <div class="text-center text-bigger">
                    <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>
                    <span class="pl-2 pr-2">•</span>
                    <a href="mailto:tomas@getrector.org">tomas@getrector.org</a>
                </div>
            </div>

            {# aspiring cleaning ladies... #}
            {# slamduik #}
        </div>

        <br>
        <br>
        <br>
        <br>

        <h3 id="invoice-details">Invoice Details</h3>

        <p>
            Edukai, s.r.o.
        </p>

        <p>
            Dubová 4<br>
            460 01<br>
            Liberec<br>
            Czech Republic<br>
            Europe
        </p>

        <p>
            ID (IČ): 07536721<br>
            VAT ID (DIČ): CZ07536721
        </p>
    </div>
{% endblock %}
