{% extends "base.twig" %}

{% block main %}
    {% include '_snippets/layout/small_header.twig' %}

    <div class="container" id="subpage">
        <h1 class="font_roboto">
            Your Legacy? Our Ecstasy!
            &nbsp;
            <em class="fas fa-smile-wink"></em>
        </h1>

        <p class="text-center">Contact us to make it happen.</p>

        <br>

        <div class="row" style="min-height: 30em">
            <div class="col-12 col-sm-6">
                <h3>Do you want to...?</h3>

                <ul>
                    <li>migrate your framework</li>
                    <li>upgrade your PHP or your framework to the latest version</li>
                    <li>cleanup your code base</li>
                    <li>ask about Rector internals</li>
                    <li>order in-house Rector training</li>
                </ul>

                <h3 class="mt-5 mb-2">Contact Tomas</h3>

                <img src="https://pehapkari.cz/uploads/images/tomas_votruba.jpg" class="rounded-circle img-thumbnail img-face">

                <ul>
                    <li>
                        <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>
                    </li>
                    <li>
                        <a href="mailto:tomas@getrector.org">tomas@getrector.org</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-sm-6">
                <h3>Or do you want to...?</h3>

                <ul>
                    <li>
                        start using Rector in CI
                    </li>
                    <li>
                        get Rector to run in Docker
                    </li>
                </ul>

                <h3 class="mt-5 mb-2">Write Honza</h3>

                <img src="https://pehapkari.cz/uploads/images/jan_mikes.jpg" class="rounded-circle img-thumbnail img-face">

                <ul>
                    <li>
                        <a href="mailto:honza@getrector.org">honza@getrector.org</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
