{% extends "base.twig" %}

{% set page_title %}Try Rector Online{% endset %}

{% block main %}
    <div class="container" id="subpage">
        <div class="row" style="min-height: 30em">
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form(form) }}
        </div>



        @todo show result
    </div>
{% endblock %}
