{% extends "base.twig" %}

{% include '_snippets/layout/small_header.twig' %}

{% block main %}
    <div class="container" id="subpage">
        <h1 class="font_roboto">
            Try Rector
        </h1>

        <div class="row" style="min-height: 30em">
            @todo Form to submit...
        </div>

        @todo show result
    </div>
{% endblock %}
