{% extends "base.twig" %}

{% block main %}
    <div id="for_companies" >
        <h1 class="main-title text-center">
            Is your Project Successful,<br>
            but Slowing Down?
        </h1>

        <p class="mt-5 text-bigger">
            Our clients used to have similar problem.
            <br>
            We help them to cut costs to fractions and make their teams productive again.
        </p>

        <div class="row">
            <div class="col-6 offset-3 text-center text-semi-bigger">
                <div class="alert alert-info mt-5 mb-5">
                    <em class="fa-solid fa-person-digging fa-fw"></em>
                    &nbsp;
                    <strong>12 companies</strong> hired us for upgrade this year.
                </div>
            </div>
        </div>

        <div id="company_logos">
            <img src="{{ asset('assets/images/homepage/company_lines.png') }}" alt="">
        </div>

        <hr class="mt-5 mb-5">

        <div id="references">
            <div class="row">
                <div class="col-sm-4 text-right pr-5">
                    <a href="https://www.arestravel.com/">
                        <img src="/assets/images/logo/logo_bigger/ares_travel.svg" class="img-fluid company-logo" style="max-width: 16em">
                    </a>

                    <div class="clearfix"></div>

                    <p class="pull-right">San Deigo, California</p>
                </div>
                <div class="col-sm-8">
                    <p class="company-description mt-3 mb-4">
                        aRes Travel is #1 provider of discounted attractions, hotels and vacation packages.
                    </p>

                    <h3>
                        <strong>Upgrade PHP 7.2, Symfony 2.8 to fully typed PHP 8</strong>
                    </h3>

                    <ul>
                        <li>Setup up high quality CI pipeline battery with bulletproof checks</li>
                        <li>Remove dead methods, dead classes, unused pckages, TWIG filters and helpers</li>
                        <li>Highly improve unit test coverage to make changes more reliable and safer</li>
                    </ul>
                </div>
            </div>

            {# see twitter bootsrap 5 spacing https://getbootstrap.com/docs/5.2/utilities/spacing/ #}
            <div class="card shadow mt-4">
                <div class="card-body company-quote-card-body">
                    <blockquote class="blockquote company-quote me-4">
                        <img src="https://www.adamgleiss.com/images/face.jpg" class="rounded-circle img-face-smaller-left shadow-sm me-4" alt="">

                        <p>
                            "I'm <strong>extremely pleased with the progress</strong> we are making.<br>
                            It's really come a long way."

                        </p>
                        <footer class="blockquote-footer mt-1">
                            William Adam Gleiss,
                            VP of Technology at aRes Travel
                        </footer>
                    </blockquote>
                </div>
            </div>

            <hr class="mt-5 mb-5">

            <div class="row">
                <div class="col-sm-4 text-right pr-5">
                    <a href="https://eonx.com/">
                        <img src="/assets/images/logo/logo_bigger/eonx.png" class="img-fluid company-logo">
                    </a>

                    <div class="clearfix mb-4"></div>

                    <p class="pull-right">Mellbourne, Australia</p>
                </div>
                <div class="col-sm-8">
                    <p class="company-description mb-4">
                        EonX develops fully branded enterprise platforms for organisations looking to better connect, reward and securely transact with their members, customers and employees.
                    </p>

                    <h3>
                        <strong>Upgrade Laravel 5.5 to Laravel 5.8</strong>
                    </h3>

                    <ul>
                        <li>Implementation of ECS, PHPStan and Rector</li>
                        <li>Standardisation of namespace</li>
                        <li>Standardisation of tests</li>
                    </ul>
                </div>
            </div>

            <div class="card shadow mt-4">
                <div class="card-body company-quote-card-body">
                    <blockquote class="blockquote company-quote me-4">
                        <img src="https://user-images.githubusercontent.com/77585053/110624235-38a3b200-819e-11eb-9ecc-a8f7b62d3da3.jpeg" class="rounded-circle img-face-smaller-left shadow-sm me-4" alt="">

                        <p>
                            "From upgrading our legacy projects and <strong>improving team's productivity, to making code review easier and reliable</strong>, Rector is in the center within our PHP ecosystem."
                        </p>
                        <footer class="blockquote-footer mt-1">
                            Nathan Page, Technical Lead at EONX
                        </footer>
                    </blockquote>
                </div>
            </div>

            <br>

            <hr class="mt-5 mb-5">

            <div class="row">
                <div class="col-sm-4 text-right pr-5">
                    <a href="https://spaceflow.io/">
                        <img src="/assets/images/logo/logo_bigger/spaceflow.png" class="img-fluid company-logo" style="max-width: 15em">
                    </a>

                    <div class="clearfix mb-4"></div>

                    <p class="pull-right">New York</p>
                </div>
                <div class="col-sm-8">
                    <p class="company-description mb-4">
                        Spaceflow is a tenant experience app that connects buildings with their occupiers.
                    </p>

                    <h3>
                        <strong>Upgrade from Symfony 3.4 to Symfony 4.4</strong>
                    </h3>


                    <ul>
                        <li>Migration from Doctrine ID to UUID</li>
                        <li>Implementation of Gitlab CI with ECS, PHPStan and Rector</li>
                        <li>Replacement of messy classes with PSR-4</li>
                    </ul>
                </div>
            </div>

            <div class="card shadow mt-4">
                <div class="card-body company-quote-card-body">
                    <blockquote class="blockquote company-quote me-4">
                        <img src="https://user-images.githubusercontent.com/77585053/110624233-37728500-819e-11eb-9efb-269e161c2ad4.jpeg" class="rounded-circle img-face-smaller-left shadow-sm me-4" alt="">

                        <p>
                            "Thanks to Rector, we were able to quite simply refactor the core of our API, which <strong>saved a lot of work</strong> that our developers would otherwise have to do manually."
                        </p>
                        <footer class="blockquote-footer mt-1">
                            Milan Mimra,
                            CTO at Spaceflow
                        </footer>
                    </blockquote>
                </div>
            </div>

            <hr class="mt-5 mb-5">

            <div class="row">
                <div class="col-sm-4 text-right pr-5">
                    <a href="https://werkenbij.jcid.nl/">
                        <img src="/assets/images/logo/logo_bigger/jcid.png" class="img-fluid company-logo">
                    </a>

                    <div class="clearfix mb-4"></div>

                    <p class="pull-right">Netherlands</p>
                </div>
                <div class="col-sm-8">

                    <p class="company-description mt-2 mb-4">
                        JCID is a web development company that is engaged daily in developing custom solutions that eliminate labor-intensive problems within business operations.
                    </p>

                    <h3>
                        <strong>Upgrade from Symfony 2.7 to Symfony 3.4</strong>
                    </h3>

                    <ul>
                        <li>Conversion of XML to YAML/PHP configuration</li>
                        <li>Implementation of Gitlab CI with ECS, PHPStan and Rector</li>
                    </ul>
                </div>
            </div>
        </div>

        <br>
        <hr>
        <br>
        <br>

        <div class="text-center">
            <h2>Are You Ready to Make the Change?</h2>

            <br>

            <a href="{{ path('contact') }}" class="btn btn-success btn-lg m-auto">
                Contact us for Free Quote
            </a>

            <br>
            <br>
            <br>
        </div>
    </div>
{% endblock %}
