{% extends "base.twig" %}

{% block main %}
    <div id="for_companies">
        <h1 class="main-title text-center">
            Hire Team
        </h1>

        <p class="mt-5 text-bigger">
            Our clients used to have similar problem.
            <br>
            We helped them to <strong>cut feature costs to fractions</strong> and make their teams <strong>productive again</strong>.
        </p>

        <br>

        <div class="text-center">
            <a href="{{ path('company_cooperation') }}" class="btn btn-primary btn-lg">
                Curious How do We Work?
            </a>
        </div>

        <br>
        <br>

        <div class="text-center mt-5">
            {% include "_snippets/line/hired_us_line.twig" %}
            {% include "_snippets/line/company_logos_line.twig" %}
        </div>

        <hr class="project-border-line">

        <div id="references">
            <div class="row">
                <div class="col-sm-4 text-right pr-5">
                    <img src="/assets/images/logo/logo_bigger/complex.jpg" class="img-fluid company-logo mb-4" style="max-width: 16em">

                    <div class="clearfix"></div>

                    <p>Germany</p>
                </div>
                <div class="col-sm-8">
                    <h3>
                        <strong>Framework Migration, PHP Upgrade and CI Hardening</strong>
                    </h3>

                    <ul>
                        <li>Setup up advanced custom PHPStan rules</li>
                        <li>Increase type coverage, Rector and ECS integration</li>
                        <li>Optimization of Processes</li>
                    </ul>
                </div>
            </div>


            {# see twitter bootsrap 5 spacing https://getbootstrap.com/docs/5.2/utilities/spacing/ #}
            <div class="card shadow border-success mt-4">
                <div class="card-body company-quote-card-body">
                    <blockquote class="blockquote company-quote me-4 mb-5">
                        <img src="https://avatars.githubusercontent.com/u/47448731?v=4" class="rounded-circle img-face-smaller-left shadow-sm me-4" alt="">

                        <p>
                            "It's a lot of fun and we killed/transformed already a lot of legacy code.
                            Using our very own continuous deployment pipeline <strong>we shipping this changes to production since day 1</strong>."
                        </p>
                        <footer class="blockquote-footer mt-1">
                            Markus Staab,
                            Project Technical Lead
                        </footer>
                    </blockquote>
                </div>
            </div>

            <hr class="project-border-line">

            <div class="row">
                <div class="col-sm-4 text-right pr-5">
                    <img src="/assets/images/logo/logo_bigger/ares_travel.svg" class="img-fluid company-logo mb-4" style="max-width: 16em">

                    <div class="clearfix"></div>

                    <p>San Deigo, California</p>
                </div>
                <div class="col-sm-8">
                    <h3>
                        <strong>Upgrade from PHP 7.2, Symfony 2.8 to fully typed PHP 8</strong>
                    </h3>

                    <ul>
                        <li>Setup up high quality CI pipeline battery with bulletproof checks</li>
                        <li>Remove dead methods, dead classes, unused pckages, TWIG filters and helpers</li>
                        <li>Highly improve unit test coverage to make changes more reliable and safer</li>
                    </ul>
                </div>
            </div>

            {# see twitter bootsrap 5 spacing https://getbootstrap.com/docs/5.2/utilities/spacing/ #}
            <div class="card shadow border-danger mt-4">
                <div class="card-body company-quote-card-body">
                    <blockquote class="blockquote company-quote me-4">
                        <img src="https://www.adamgleiss.com/images/face.jpg" class="rounded-circle img-face-smaller-left shadow-sm me-4" alt="">

                        <p>
                            "I'm <strong>extremely pleased with the progress</strong> we are making.<br>
                            It's really come a long way."

                        </p>
                        <footer class="blockquote-footer mt-1">
                            William Adam Gleiss,
                            VP of Technology at aRes Travel
                        </footer>
                    </blockquote>
                </div>
            </div>

            <hr class="project-border-line">

            <div class="row">
                <div class="col-sm-4 text-right pr-5">
                    <img src="/assets/images/logo/logo_bigger/eonx.png" class="img-fluid company-logo" style="max-width: 12em">

                    <div class="clearfix mb-4"></div>

                    <p>Mellbourne, Australia</p>
                </div>
                <div class="col-sm-8">
                    <h3>
                        <strong>Upgrade from Laravel 5.5</strong>
                    </h3>

                    <ul>
                        <li>Implementation of ECS, PHPStan and Rector</li>
                        <li>Standardisation of namespace</li>
                        <li>Standardisation of tests</li>
                    </ul>
                </div>
            </div>

            <div class="card shadow border-primary mt-4">
                <div class="card-body company-quote-card-body">
                    <blockquote class="blockquote company-quote me-4">
                        <img src="https://user-images.githubusercontent.com/77585053/110624235-38a3b200-819e-11eb-9ecc-a8f7b62d3da3.jpeg" class="rounded-circle img-face-smaller-left shadow-sm me-4" alt="">

                        <p>
                            "From upgrading our legacy projects and <strong>improving team's productivity, to making code review easier and reliable</strong>, Rector is in the center within our PHP ecosystem."
                        </p>
                        <footer class="blockquote-footer mt-1">
                            Nathan Page, Technical Lead at EONX
                        </footer>
                    </blockquote>
                </div>
            </div>

            <hr class="project-border-line">

            <div class="row mt-4">
                <div class="col-sm-4">
                    <a href="https://spaceflow.io/">
                        <img src="/assets/images/logo/logo_bigger/spaceflow.png" class="img-fluid mt-3" style="max-width: 16em">
                    </a>

                    <div class="clearfix mb-4"></div>

                    <p>New York</p>
                </div>
                <div class="col-sm-8">
                    <h3>
                        <strong>Upgrade from Symfony 3.4</strong>
                    </h3>


                    <ul>
                        <li>Migration from Doctrine ID to UUID</li>
                        <li>Implementation of Gitlab CI with ECS, PHPStan and Rector</li>
                        <li>Replacement of messy classes with PSR-4</li>
                    </ul>
                </div>
            </div>

            <div class="card shadow mt-4 border-warning">
                <div class="card-body company-quote-card-body">
                    <blockquote class="blockquote company-quote me-4">
                        <img src="https://user-images.githubusercontent.com/77585053/110624233-37728500-819e-11eb-9efb-269e161c2ad4.jpeg" class="rounded-circle img-face-smaller-left shadow-sm me-4" alt="">

                        <p>
                            "Thanks to Rector, we were able to quite simply refactor the core of our API, which <strong>saved a lot of work</strong> that our developers would otherwise have to do manually."
                        </p>
                        <footer class="blockquote-footer mt-1">
                            Milan Mimra,
                            CTO at Spaceflow
                        </footer>
                    </blockquote>
                </div>
            </div>
{#                        <img src="/assets/images/logo/logo_bigger/jcid.png" class="img-fluid company-logo">#}
        </div>

        <br>
        <br>
        <br>
        <br>

        <div class="text-center">
            <h2>Are You Ready to Make the Change?</h2>

            <br>

            <a href="{{ path('contact') }}" class="btn btn-success btn-lg m-auto">
                Contact us for Free Quote
            </a>

            <br>
            <br>
            <br>
        </div>
    </div>
{% endblock %}
