{% extends "base.twig" %}

{% block main %}
    <div id="homepage">
        <h1 class="main-title">
            The Way You can Finally
            <br>
            <span class="text-rector-green">Upgrade PHP</span>
        </h1>

        <div class="text-bigger mt-3 text-center">
            <p>We help 5+ years PHP companies to get the most of the code they already have.</p>

            <p>
                <strong>Reduce maintenance cost</strong>, <strong>make feature delivery cheaper</strong><br>
                and turn legacy code into sustainable code.
            </p>
        </div>

        <div class="text-center mt-5 mb-5 bigger-buttons">
            <a href="{{ path('company_cooperation') }}" class="btn btn-lg btn-primary me-3">Hire Upgrade Team</a>
            <a href="{{ path('demo') }}" class="btn btn-lg btn-success">Try It Online</a>
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2>
            We Deliver <span class="text-rector-green">10x Faster and Cheaper</span><br>
            thanks to Experience with <span class="text-rector-green">50+ Upgrades</span>
        </h2>

        <div class="row">
            <div class="col-12 col-md-8 text-center">
                <img src="/assets/images/rector_chart.png" alt="Rector Chart" class="img-fluid img-thumbnail">
                <p class="text-smaller text-secondary">
                * Based on average data from 37 projects.
                </p>
            </div>

            <div class="col-12 col-md-4 mt-4 mt-md-0">
                <div class="text-bigger">
                    <p>
                        90 % of problems you'll face for the first time.
                    </p>
                    <p>
                        We've already seen them and know how to solve them.
                    </p>
                </div>
            </div>
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2>
            Rector <span class="text-rector-green">Empowers your Project</span>
        </h2>

        {% include "homepage/_parts/benefits.twig" %}

        {% include "_snippets/homepage_separator.twig" %}

        <div class="text-center mt-5 mb-5 text-rector-green text-bigger">
            <strong>12 companies</strong> hired us this year to improve PHP code and reduce technical debt
        </div>

        {% include "_snippets/line/company_logos.twig" %}

        {% include "_snippets/homepage_separator.twig" %}

        <h2>
            What Companies <span class="text-rector-green">Love&nbsp;about&nbsp;Rector</span>?
        </h2>

        {% include "homepage/_parts/quotes.twig" %}

        <br>

        <div class="text-center mt-2 mt-md-5">
            <a href="{{ path('hire_team') }}" class="btn btn-primary btn-lg">
                Hire Rector Team
            </a>

            <a href="{{ path('contact') }}" class="btn btn-success btn-lg ms-3">
                Contact us to Join Our Clients
            </a>
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2>FAQ</h2>

        {% include "homepage/_parts/faq.twig" %}
    </div>
{% endblock %}
