{% extends "base.twig" %}

{% set page_title %}
How&nbsp;Could&nbsp;We&nbsp;Turn
<strong>Working&nbsp;with&nbsp;Legacy&nbsp;Code</strong>
into&nbsp;Joy?
{% endset %}

{% block subtitle %}
    <a href="{{ path('blog') }}" class="btn btn-warning shadow btn-lg mr-3">
        <em class="fa fa-book fa-fw"></em>
        &nbsp;
        Read Blog
    </a>

    <a href="http://github.com/rectorphp/rector" class="btn btn-primary shadow m-auto btn-lg">
        <em class="fab fa-github fa-fw"></em>
        &nbsp;
        Look at GitHub
    </a>

    <a href="{{ path('demo') }}" class="btn btn-success shadow btn-lg ml-3 mt-3 mt-sm-0">
        <em class="fa fa-laptop-code fa-fw"></em>
        &nbsp;
        Online Demo
    </a>


{% endblock %}

{% block main %}
    <section class="section bg-light text-center">
        <div class="container">
            <h2 class="mb-4" data-aos="fade-up">Who Already Delegates Boring Work to Rector?</h2>

            <div class="row" id="company_logos" class="mt-5">
                <div class="align-self-center col-6 col-md-3 mb-4" data-aos="fade-up">
                    <a href="https://spaceflow.io">
                        <img src="/assets/images/logo/spaceflow.png" alt="">
                    </a>
                </div>

                <div class="align-self-center col-6 col-md-3 mb-4" data-aos="fade-up">
                    <a href="https://glami.cz">
                        <img src="/assets/images/logo/glami.png" alt="">
                    </a>
                </div>

                <div class="align-self-center col-6 col-md-3 mb-4" data-aos="fade-up">
                    <a href="https://www.zoot.cz">
                        <img src="/assets/images/logo/zoot.png" alt="">
                    </a>
                </div>

                <div class="align-self-center col-6 col-md-3 mb-4" data-aos="fade-up">
                    <a href="https://entry.do">
                        <img src="/assets/images/logo/entrydo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="services">
        <div class="container">
            <div class="text-center" data-aos="fade-up">
                <h2>How will Rector make&nbsp;your&nbsp;Life&nbsp;Easier?</h2>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card mb-5 md-md-0" data-aos="fade-right">
                        <div class="card-body">
                            <h3 class="text-bold text-center mt-3 mb-4">
                                <em class="fas fa-code fa-fw"></em>
                                &nbsp;
                                For CTOs
                            </h3>

                            <ul class="list-group">
                                <li>Do you want to migrate your code from PHP 5.3 to 7.4?</li>
                                <li>Do you want to use the newest Symfony code without reading all the <code>CHANGELOG.md</code> files?</li>
                                <li>Do you want to turn static to constructor injection in 1000 classes in seconds?</li>
                                <li>Refactor custom code at scale without rebasing?</li>
                            </ul>

                            <div class="text-center mt-5 mb-3">
                                <a href="{{ path('contact') }}" class="btn btn-success">
                                    Let's talk about Your Legacy
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card mb-5 md-md-0" data-aos="fade-left">
                        <div class="card-body">
                            <h3 class="text-bold text-center mt-3 mb-4">
                                <em class="fas fa-user-tie fa-fw"></em>
                                &nbsp;
                                For CEOs
                            </h3>

                            <ul class="list-group">
                                <li>Are you stuck on legacy code because you have to "delivery features"?</li>
                                <li>Do you use old framework, that slows down your product?</li>
                                <li>Does your team complain about legacy code, but you just can't stop development for 6 months?</li>
                                <li>Do you want keep delivering features and migrate framework at the same time?</li>
                            </ul>

                            <div class="text-center mt-4 mb-3">
                                <a href="{{ path('for_companies') }}" class="btn btn-primary">
                                    Contact us and Jump over Competition
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="section bg-light">
        <div class="container">

            <h2 data-aos="fade-up">
                <em class="fas fa-dove"></em>
                &nbsp;
                What is Rector's Ultimate Goal?
            </h2>

            <q class="blockquote" data-aos="fade-up">
                To help every developer in the planet with fresh or legacy PHP code to use the latest PHP, the most advanced version of their favorite framework and the latest craftsman patterns there will be.<br><br>
                Without work, instantly, so they can focus on what they love most - <strong>thinking about algorithms and writing fresh code</strong>.
            </q>
        </div>
    </div>

    <div class="section bg-danger text-white" data-aos="fade-up">
        <div class="container text-center">
            <p class="text-bigger">
                To make this happen, <strong>we need your help</strong>.<br>
                We're looking for company and developer sponsors.
            </p>

            <a href="https://www.patreon.com/bePatron?u=4756109" alt="Become a Patron" class="mt-5">
                <img src="https://c5.patreon.com/external/logo/become_a_patron_button.png" alt="">
            </a>
        </div>
    </div>

    <section class="section" data-aos="fade-up">
        <div class="container text-center">
            <h2>
                <em class="fas fa-user-check"></em>
                &nbsp;
                What Rector Users Say?
            </h2>

            {% include "_snippets/tweets.twig" %}
        </div>
    </section>
{% endblock %}
