{% extends "base.twig" %}

{% block main %}
    <div id="homepage">
        <h1 class="main-title">
            We'll Speed up your Development&nbsp;Process
            <br>
            by 300 %
        </h1>

        <p class="mt-5">
            <a href="#how" class="text-bigger">That's a bold claim... How exactly?</a>
        </p>

        {% include "_snippets/homepage_separator.twig" %}

        <h2><span class="text-rector-blue">Join Companies</span> with Rectified Code</h2>

        <div id="company_logos">
            <div class="row">
                <div class="align-self-center col-6 mb-4 col-md-2">
                    <img src="/assets/images/logo/eonx.png" alt="">
                </div>

                <div class="align-self-center col-6 mb-4 col-md-2 ml-4 text-right" style="margin-right: -.4em">
                    <img src="/assets/images/logo/amateri.png" alt="">
                </div>

                <div class="align-self-center col-6 mb-4 col-md-2">
                    <img src="/assets/images/logo/zenika.jpg" alt="">
                </div>

                <div class="align-self-center col-6 mb-4 col-md-2" style="margin-left: -.4em;margin-right: -.5em;">
                    <img src="/assets/images/logo/luzanky.png" alt="">
                </div>

                <div class="align-self-center col-6 mb-4 col-md-2">
                    <img src="/assets/images/logo/jcid.png" alt="">
                </div>

                <div class="align-self-center col-6 mb-4 col-md-2" style="margin-left: -1em">
                    <img src="/assets/images/logo/spaceflow.png" alt="">
                </div>
            </div>
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <div id="how"></div>
        <h2>How will Rector make&nbsp;your&nbsp;<span class="text-rector-blue">Life&nbsp;Easier</span>?</h2>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card mb-5 md-md-0">
                    <div class="card-body">
                        <ul class="list-group">
                            <li>Do you want to migrate your code from PHP 5.3 to 7.4?</li>
                            <li>Do you want to use the newest Symfony code without reading all the <code>CHANGELOG.md</code> files?</li>
                            <li>Do you want to turn static to constructor injection in 1000 classes in seconds?</li>
                            <li>Refactor custom code at scale without rebasing?</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card mb-5 md-md-0">
                    <div class="card-body">
                        <ul class="list-group">
                            <li>Are you stuck on legacy code because you have to "delivery features"?</li>
                            <li>Do you use old framework, that slows down your product?</li>
                            <li>Does your team complain about legacy code, but you just can't stop development for 6 months?</li>
                            <li>Do you want keep delivering features and migrate framework at the same time?</li>
                        </ul>
                    </div>
                </div>
            </div>

            <a href="{{ path('contact') }}" class="btn btn-success btn-lg m-auto">
                Take a leap to Ultra Project
            </a>
        </div>

        {% include "_snippets/homepage_separator.twig" %}

        <h2>
            What do you <span class="text-rector-blue">Love about Rector</span>?
        </h2>

       <blockquote class="blockquote clearfix">
           <img src="https://pbs.twimg.com/profile_images/867439780728107016/GWANUhbt_400x400.jpg" class="rounded-circle img-face-smaller-right shadow" alt="">

            <p>
                "Since last week, I <strong>automated several months work of mindless work</strong>.<br>
                Rector is one of my best friends in the fight against legacy."
            </p>

            <footer class="blockquote-footer">
                <a href="https://twitter.com/afilina/status/1229406983486394369">Anna Filina</a>, Legacy Archeologist
            </footer>
        </blockquote>

        <blockquote class="blockquote clearfix">
            <img src="https://pbs.twimg.com/profile_images/819586686149677056/DOMf3P79_400x400.jpg" class="rounded-circle img-face-smaller-left shadow mr-5" alt="">

            <p>
                "Just upgraded <strong>PHPUnit 4 to 8</strong> with Rector in <strong>3 seconds</strong>."
            </p>
            <footer class="blockquote-footer">
                <a href="https://twitter.com/ArkadiuszKondas/status/1196349896690950144">Arkadiusz Kondas</a>,
                Software Architect and Ultrarunner
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            <img src="https://pbs.twimg.com/profile_images/937401535109238784/LUP1_bQf_400x400.jpg" class="rounded-circle img-face-smaller-right shadow ml-3" alt="">

            <p>
                "Rector is one of <strong>the most useful projects</strong> PHP developers overlook.<br>
                It upgrades your Symfony 3 app to Symfony 4."
            </p>

            <footer class="blockquote-footer">
                <a href="https://twitter.com/symfony_en/status/1076024294591877120">Symfony News</a>
            </footer>
        </blockquote>
    </div>
{% endblock %}
