{% extends "base.twig" %}

{% set page_title %}Your Legacy? Our Ecstasy!{% endset %}

{% block main %}
    <div id="mission">
        <h1>Our Mission</h1>

        <div class="blockquote">
            We're here to help every developer on the planet with fresh or legacy PHP code to use <strong>the latest PHP, the latest version of their favorite framework</strong> and the latest craftsman patterns.
            <br><br>
            So they can focus on what they love most - <strong>thinking about algorithms and writing new code</strong>.
        </div>
    </div>
{% endblock %}
