body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

a, a:hover, a:focus, button, button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

#services li {
    line-height: 1.3em;
    margin-bottom: .5em;
}

/*==========================
        2.HELPER
============================*/

.section .container {
    padding-top: 5em;
    padding-bottom: 5em;
}

.vertical-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

/*==========================
        4.HOME
============================*/

.home-bg-img {
    background-image: url(../images/home-bg3.jpg);
    background-size: cover;
    background-position: top center;
}

/*==========================
        6.SERVICES
============================*/

.services_boxes {
    border: 1px solid #e3e6f0;
    padding: 4em 0;
}

.services_boxes .services_icon i {
    font-size: 9em;
    color: #dedfe6;
}

.services_boxes .services_content p {
    font-size: 1.1em;
    line-height: 1.8em;
}

/*==========================
        20.RESPONSIVE
============================*/

@media (max-width: 768px) {
    .h-100vh {
        height: auto;
    }
    .home-bg-color,
    .h-100vh.jarallax,
    .home-bg-img,
    .home-bg-color-gradient,
    .h-100vh,
    .home-half,
    .half-slider {
        padding: 1em .5em 3em .5em;
    }

    .services_boxes .services_icon i {
        font-size: 130px;
    }

    .services_icon, .services_content {
        margin-top: 15px;
    }

    .services_boxes {
        margin-right: 7px !important;
        margin-left: 7px !important;
    }
}

.object-fit {
    object-fit: contain;
}

table#company_logos img {
    max-height: 4em;
    padding: 0 1em;
    max-width: 100%;
}

@media (max-width: 768px) {
    table#company_logos img {
        padding: 0 .1em;
    }
}

h2 {
    margin-left: 0;
    margin-bottom: 1em;
    padding-left: 0;
    padding-bottom: 1em;
    font-family: 'Roboto Slab', serif;
}

.blockquote {
    font-size: 1.3em;
    line-height: 1.5em;
}

.blockquote strong, nobr {
    font-size: 1em;
}

/* used from https://fontawesome.com/ */
.text-green {
    color: #51cf66;
}

.text-orange {
    color: #ff922b;
}

.text-blue {
    color: #339af0;
}

.get_in_touch {
    line-height: 2em;
}

.get_in_touch a, .get_in_touch a:active, .get_in_touch a:focus {
    color: #BBB;
    text-decoration: underline;
}

.get_in_touch a:hover {
    color: #FFF;
    text-decoration: none;
}

#reference strong {
    font-size: 1em;
}

h3 em {
    font-size: 1em;
}


#subpage {
    padding-bottom: 3em;
}

#subpage h1 {
    margin-top: 1em;
    margin-bottom: .5em;
    text-align: center;
}

#subpage h2 {
    margin-top: 2em;
    text-align: center;
}

#subpage h3 {
    margin-top: 1em;
    margin-bottom: .5em;
}

#header {
    background: #222;
    padding: 1.5em 0 .7em 0;
    text-transform: uppercase;
}

#header a {
    color: #FFF;
    text-decoration: underline;
}

#header a:hover {
    color: #EEE;
    text-decoration: none;
}

.card {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .1);
}

#video {
    /* colors: https://paletton.com/#uid=12Y0u0kmaG0bOTahyM-qF-DvVtC */
    background-image: linear-gradient(180deg,#40D07B,#00AA45);
    background-repeat: repeat-x;

    box-shadow: -2px -2px 4px rgba(0, 0, 0, .3);
    padding: .5em;
    color: #DDD;

    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

#main_logo {
    margin-top: 1em;
    margin-bottom: 1em;
}

#main_logo img {
    width: 4.5em;
    float: right;
    padding-top: .5em;
    padding-left: 1.2em;
}

#main_logo h1 {
    color: white;
    font-weight: 700;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 2.5em;
    padding-left: .7em;
    letter-spacing: .05em;
    float: right;
    line-height: 1.8em;
}


/* inspired by backers from https://nette.org/ */
#company_logos img {
    transition: all .3s ease;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .66;
    transform: scale(0.90);
}

#company_logos a:hover img {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1);
    transition: .2s;
}

h2 {
    font-size: 1.9em;
    font-weight: 400;
    color: #4b4b4b;
}

#services .card-body {
    padding: 2.3em;
}

#footer {
    padding: 1.8em 0;

    background-color: #24292e;
    color: #FFF;
    font-size: 1.3em;
}

#footer a {
    color: #21c87a;
}

#footer a:hover {
    color: #20a55b;
}

#footer #made_by {
    color: #DDD;
    font-size: 1em;
}

.section:not(.bg-light) {
    background-image: url('../chars.png');
    background-position: top left;
    background-repeat: repeat;
}

.header_title {
    color: #DDD;
    font-size: calc(2em + 1.2vw);
    line-height: 1.5em;
    font-weight: 300;
    font-family: "Roboto Slab";
}

.font_roboto {
    font-weight: 300;
    font-family: "Roboto Slab";
}

/* responsive */
@media (max-width: 1024px) {
    .header_title {
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .header_title {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }
}

.container {
    max-width: 55em;
}

.card h3 {
    font-size: 1.5em;
}

ul.list-noindent {
    margin-left: 1.2em;
    padding-left: 0;
}

#subpage .section h2 {
    margin-top: 0;
}

.reference-text {
    font-size: 1.3em;
}

/*!* not sure why, but em in footer are bigger; this is to make the width the same size as rest *!*/
#footer .container {
    max-width: 50em;
    font-size: .8em;
}

body h2 {
    text-align: center;
}

body a:not(.btn) {
    text-decoration: underline !important;
}

body a:not(.btn):hover, body a:not(.btn):focus {
    text-decoration: none !important;
}

q.blockquote {
    display: block;
}

.bg-black {
    background-color: #333;
}

.text-bold {
    font-weight: bold;
}


/* show/hidden menu; ref https://stackoverflow.com/a/35362821/1348344 */
@media (max-width: 768px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .hidden-md-up {
        display: none !important;
    }
}

.bg-light {
    background: #DDD;
}

.text-bigger {
    font-size: 1.3em;
}

.img-face {
    max-width: 10em;
    margin: 1em auto;
}

.container {

}
