<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <a href="https://github.com/rectorphp/rector">Github</a>
                <span class="pl-2 pr-2">•</span>
                <a href="https://www.patreon.com/rectorphp">Patreon</a>
                <span class="pl-2 pr-2">•</span>
                <a href="https://github.com/rectorphp/rector/blob/master/docs/AllRectorsOverview.md">All 300+ Rectors</a>
            </div>

            <div class="col-12 col-sm-6 col-md-6 text-right" id="made_by">
                Do you need help with your code? <a href="{{ contact_link }}">Write Us</a>
            </div>
        </div>
    </div>
</div>
