<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://github.com/rectorphp/rector">Github</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-md-6" id="made_by">
                <p class="text-muted text-right">
                    Created by <a href="https://www.tomasvotruba.com">Tomas Votruba</a>
                </p>
            </div>
        </div>
    </div>
</div>
