<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://github.com/rectorphp/rector">Github</a></li>
                    <li class="list-inline-item">•</li>
                    <li class="list-inline-item"><a href="https://www.patreon.com/rectorphp">Patreon</a></li>
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-md-6 text-right" id="made_by">
                Do you need help with your code? <a href="{{ contact_link }}">Write Tomas</a>
            </div>
        </div>
    </div>
</div>
