<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-left mb-4 mb-sm-0">
                <a href="https://github.com/rectorphp/rector">Github</a>
                <span class="pl-2 pr-2">•</span>
                <a href="https://www.patreon.com/rectorphp">Sponsors</a>
                <span class="pl-2 pr-2">•</span>
                <a href="https://github.com/rectorphp/rector/blob/master/docs/AllRectorsOverview.md">All 300+ Rectors</a>
            </div>

            <div class="col-12 col-sm-6 col-md-6 text-center text-sm-right" id="made_by">
                Do you think your code is so bad it cannot be migrated?
                <br>
                <a href="/contact/">Write us</a> and we'll prove you wrong
            </div>
        </div>
    </div>
</div>
