<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="..." />
<meta name="keywords" content="..." />

<title>Rector - Instant Upgrade and Instant Refactoring for PHP</title>

<link rel="shortcut icon" href="/images/favicon.ico">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

{# beautiful icons #}
{# https://themes-pixeden.com/font-demos/7-stroke/ #}
<link rel="stylesheet" type="text/css" href="/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" type="text/css" href="/assets/pe-icon-7-stroke/css/helper.css">

{# Twitter Bootstrap #}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

{# theme style #}
<link rel="stylesheet" href="/css/style.css" />

{# new custom #}
<link rel="stylesheet" href="/css/manual-new-style.css" />
