<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Rector - Automated Way to Instantly Upgrade and Refactor any PHP code" />
<meta name="keywords" content="php, rector, instant upgrades, instant refactoring, upgrade symfony, upgrade php, upgrade cakephp, upgrade legacy, php migration, laravel shift alternative, php shift" />

<title>Rector - Automated Way to Instantly Upgrade and Refactor any PHP code</title>

{# todo twitter + fb shares #}

<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

{# beautiful icons #}
{# https://themes-pixeden.com/font-demos/7-stroke/ #}
{#<link rel="stylesheet" type="text/css" href="/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css">#}
{#<link rel="stylesheet" type="text/css" href="/assets/pe-icon-7-stroke/css/helper.css">#}

{# Twitter Bootstrap #}
<link rel="stylesheet" href="/assets/bootstrap/bootstrap-4.2.1.min.css">

{# theme style #}
<link rel="stylesheet" href="/css/style.css?v={{ random() }}" />

{# new custom #}
<link rel="stylesheet" href="/css/manual-new-style.css?v={{ random() }}" />

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
