<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Rector - Automated Way to Instantly Upgrade and Refactor any PHP code" />
<meta name="keywords" content="php, rector, instant upgrades, instant refactoring, upgrade symfony, upgrade php, upgrade cakephp, upgrade legacy, php migration, laravel shift alternative, php shift" />

<title>Rector - Automated Way to Instantly Upgrade and Refactor any PHP code</title>

{# todo twitter + fb shares #}

<link rel="shortcut icon" href="/images/favicon.ico">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">

{# beautiful icons #}
{# https://themes-pixeden.com/font-demos/7-stroke/ #}
<link rel="stylesheet" type="text/css" href="/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" type="text/css" href="/assets/pe-icon-7-stroke/css/helper.css">

{# Twitter Bootstrap #}
<link rel="stylesheet" href="/assets/bootstrap/bootstrap-4.2.1.min.css">

{# theme style #}
<link rel="stylesheet" href="/css/style.css?v={{ random() }}" />

{# new custom #}
<link rel="stylesheet" href="/css/manual-new-style.css?v={{ random() }}" />
