<blockquote class="blockquote">
    "Since last week, I automated several months work of mindless work. Rector is one of my best friends in the fight against legacy."

    <a href="https://twitter.com/afilina/status/1229406983486394369">Anna Filina</a>
</blockquote>

<blockquote class="blockquote">
    "Just upgraded PHPUnit from 4 to 8 with Rector in 3 seconds."
    <a href="https://twitter.com/ArkadiuszKondas/status/1196349896690950144">Arkadiusz Kondas</a>
</blockquote>


<blockquote class="blockquote">
    "Rector is one of the most useful projects that PHP developers overlook. It automates the upgrade and refactoring of your code (e.g. upgrades your Symfony 3 app to Symfony 4)."
    <a href="https://twitter.com/symfony_en/status/1076024294591877120">Symfony News</a>
</blockquote>
