<!DOCTYPE html>
<html lang="en">
    <!-- build timestamp: {{ "now"|date("Y-m-d, H:i:s") }} -->
    <head>
        {% include "_snippets/layout/head.twig" %}
        {% include "_snippets/styles.twig" %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block body %}
            {% include "_snippets/menu.twig" %}

            <div class="container mobile-margin-top">
                {% include '_snippets/flash_messages.twig' %}

                {# special behavior for docs, see https://stackoverflow.com/questions/42186007/conditionally-define-a-block-in-twig-2 #}
                <div class="row">
                    {% if block('sidebar') is not empty %}
                        <div class="col-3">
                            {% block sidebar %}{% endblock %}
                        </div>
                        <div class="col-9">
                    {% else %}
                        <div class="col-12">
                    {% endif %}

                        {% block main %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% include "_snippets/layout/footer.twig" %}
        {% include "_snippets/layout/google_analytics.twig" %}
        {% include "_snippets/javascripts.twig" %}
    </body>
</html>
