<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "_snippets/layout/head.twig" %}
        {% include "_snippets/styles.twig" %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">
        {% block body %}
            <div id="main">
                <section class="home-bg-img" id="big_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <a href="/" id="main_logo">
                                    <img src="/assets/images/logo/rector-no_frame_vector.svg" alt="">
                                    <div class="logo_text">Rector</div>
                                </a>

                                <div class="clearfix"></div>

                                <h1 class="mb-5 mt-5">{{ page_title }}</h1>

                                {% set subtitle %}{{ (block('subtitle')) ?? '' }}{% endset %}
                                {% if subtitle is not null %}
                                    <div class="text-center mt-5 mb-5" id="subtitle">
                                        {{ subtitle }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>

                {% include '_snippets/flash_messages.twig' %}

                {% block main %}{% endblock %}
            </div>
        {% endblock %}

        {% include "_snippets/layout/footer.twig" %}
        {% include "_snippets/layout/google_analytics.twig" %}
        {% include "_snippets/javascripts.twig" %}
    </body>
</html>
