{% extends "base.twig" %}

{% set page_title %}Docs / Introduction{% endset %}

{% block sidebar %}
    {% include "_snippets/docs_sidebar.twig" %}
{% endblock %}

{% block main %}
    <div id="documentation">
        <h1 class="main-title">Import Names</h1>

        <h2>First Run</h2>



    </div>
{% endblock %}
