{% extends "base.twig" %}

{% set page_title %}Docs / Introduction{% endset %}

{% block sidebar %}
    {% include "_snippets/docs_sidebar.twig" %}
{% endblock %}

{% block main %}
    <div id="documentation">
        <h1>Introduction</h1>

        // @todo somehow iterate and make this generic!

        {{  }}
    </div>
{% endblock %}
