{% extends "base.twig" %}

{% set page_title %}Docs / Introduction{% endset %}

{% block sidebar %}
    {% include "_snippets/docs_sidebar.twig" %}
{% endblock %}

{% block main %}
    <div id="documentation">
        <h1 class="main-title">Introduction</h1>

        // @todo somehow iterate and make this generic!
        @todo convert markdown files here :)

        <h2>Installation</h2>

        <p>
            Add Rector to your project to save hours of manual boring work:
        </p>

        <br>

        <div>
            <code>
                composer require rector/rector --dev<br>
                vendor/bin/rector init<br>
                vendor/bin/rector --dry-run
            </code>
        </div>
    </div>
{% endblock %}
