{% extends "base.twig" %}

{% set page_title %}Docs / {{ section_title }}{% endset %}

{% block sidebar %}
    {% include "_snippets/docs_sidebar.twig" %}
{% endblock %}

{% block main %}
    <div id="documentation">
        {{ section_html_contents|raw }}
    </div>
{% endblock %}
