{% extends "base.twig" %}

{% set page_title %}{{ section_title }} | Documentation{% endset %}

{% block sidebar %}
    {% include "_snippets/docs_sidebar.twig" %}
{% endblock %}

{% block main %}
    <div id="documentation">
        <h1>{{ section_title }}</h1>

        {{ section_html_contents|raw }}
    </div>
{% endblock %}
