<div class="row">
    <div class="col-4">
        <em class="fas fa-piggy-bank fa-2x text-rector-green"></em>
        <h3>
            Get High-Quality Code
        </h3>

        <p>
            This is...
        </p>
    </div>

    <div class="col-4">
        <em class="fas fa-money-check-alt fa-2x text-rector-green"></em>
        <h3>
            Reduce Maintenance Cost
        </h3>

        <p>
            This is...
        </p>
    </div>

    <div class="col-4">
        <em class="fas fa-smile-beam fa-2x text-rector-green"></em>

        <h3>
            Remove Technical Debt
        </h3>

        <p>
            This is...
        </p>
    </div>
</div>
