<div class="row" id="benefits">
    <div class="col-12 col-md-4 mt-4 mt-md-0">
        <em class="fa-regular fa-gem fa-2x text-rector-green"></em>
        <h3>
            Get High-Quality Code
        </h3>

        <p>
            Improves your code quality code the highest possible. The knowledge is embedded in the Rector rules and sets. All you have to do is to run them and apply on your code base.
        </p>
    </div>

    <div class="col-12 col-md-4 mt-4 mt-md-0">
        <em class="fas fa-money-check-alt fa-2x text-rector-green"></em>
        <h3>
            Reduce Maintenance Cost
        </h3>

        <p>
            As they say: the first upgrade is the hardest. Once you get over PHP 8.0 and full-blown Rector CI setup, the time to upgrade to the latest PHP drops to hours.
        </p>
    </div>

    <div class="col-12 col-md-4 mt-4 mt-md-0">
        <em class="fas fa-broom fa-2x text-rector-green"></em>

        <h3>
            Remove Technical Debt
        </h3>

        <p>
            How do you tackle technical dept in 10&nbsp;000-files project? One by one? With Rector, the size doesn't matter, and removing technical dept is clear confident process.
        </p>
    </div>
</div>
