<div class="row">
    <div class="col-6 mb-4">
         <h3>Can Rector upgrade PHP 5.3 code?</h3>
         <p>Yes, Rector handles upgrades from PHP 5.3 up to PHP 8.2.</p>
    </div>
    <div class="col-6 mb-4">
        <h3>Can you upgrade Javascript or Java?</h3>
        <p>
            No, we can help you with PHP upgrades only.
        </p>
    </div>

    <div class="col-6 mb-4">
         <h3>How long does a typical upgrade take?</h3>
         <p>Every project is different. The project size, code quality, test coverage, type coverage and CI setup affect the project upgrade duration. But to give you a rough idea, most project upgrades we handle take between 6 and 12 months.</p>
    </div>
    <div class="col-6 mb-4">
         <h3>We're in a hurry. How fast can you start upgrade of our project?</h3>
         <p>
             First, we do an <a href="{{ path('hire_team') }}">intro analysis</a> of your project, that takes 3 weeks. After that, we can jump right into the upgrade work itself.
         </p>

    </div>
    <div class="col-6 mb-4">

         <h3>Do we have to hire you every 2 years to handle the upgrade?</h3>
         <p>
             No. Our goal is not just to change value in <code>composer.json</code> to latest PHP. We improve your code quality to the highest possible, we improve test coverage, type coverage and get PHPStan to level 8. We improve the CI to catch most of the bugs you have long before merge.
             <br><br>
             <strong>When we finish, you'll have Rector in your CI setup working for you.</strong> The next PHP version upgrade will be matter of change 1 lines in configuration that <strong>you can handle yourself</strong>.
         </p>
     </div>

     <div class="col-6 mb-4">
         <h3>We want to upgrade, but can't afford to stop development even for 3 months.</h3>
         <p>
             We know the business must grow. Stopping development even for a month would slow the project and give the competition huge advantage.
         </p>
         <p>
             That's why <strong>work in parallel to your project</strong>. Our work flows standalone along with your business development. Your team can safely develop features, and we slowly and safely upgrade your code.
         </p>
     </div>
     <div class="col-6 mb-4">
         <h3>Can you migrate our framework to an open-source one?</h3>
         <p>Yes, that's a field where Rector really shows its power. The PHP frameworks are very similar to each other, they use MVC pattern. The framework migration is a matter of writing 30-50 custom Rector rules. We have deep experience with that.</p>

     </div>
    <div class="col-6 mb-4">
        <h3>We have bad experience with another upgrade. It took 6 months without results.<br>How can you assure us it won't happen?</h3>
        <p>
             We're sorry to hear that. You're not alone. Doing upgrades effectively and with confidence takes year of experience with dozens of project.
        </p>
        <p>
             The way we work is always finished. That means we create <strong>a micro-pull request with 1 change, and send it for a review</strong> and you merge it the same or next day. In a week there is 25 merged pull-request and your project is forever improved.
         </p>
     </div>
</div>
