<h3>Can Rector upgrade PHP 5.3 code?</h3>
<p class="mb-5">Yes, Rector provides upgrade sets for PHP 5.3 up to PHP 8.2 version.</p>

<h3>How long does a typical project upgrade take?</h3>
<p class="mb-5">Every project is different. The project size, code quality, test coverage, type coverage and CI setup affect the project upgrade duration. But to give you rough idea, the most project upgrades we handle between 6 and 12 months.</p>

<h3>We do want to upgrade with you, but can't afford to stop development for 6 to 12 months.</h3>
<p class="mb-5">
    We know the business must grow. Stopping development even for a month would slow the project and give the competition huge advantage. That's why <strong>work in parallel to your project</strong>. Our work flows standalone along with your business development. Your team can safely develop features, and we slowly and safely upgrade your code.
</p>


<h3>Can you help with in-house framework to open-source migration? How does it work?</h3>
<p class="mb-5">Yes, that's a field where Rector really shows its power. The PHP frameworks arexpericene very similar to each other, they use MVC pattern. The framework migration is a matter of writing 30-50 custom Rector rules. We have deep experience with that.</p>

<h3>We're in a hurry. How fast can you start upgrade of our project?</h3>
<p class="mb-5">
    First, we do an <a href="{{ path('hire_team') }}">intro analysis</a> of your project, that takes 3 weeks. After that, we can jump right into the upgrade work itself.
</p>

<h3>We have bad experience with another upgrade, that took 6 months without any results.<br>How do you make sure it won't happen here?</h3>
<p class="mb-5">
    We're sorry to hear that, but you're not alone. Doing upgrades effectively and with confidence takes year of experience with dozens of project. The way we work is "always finished". That means we create <strong>micro-pull requests with 1 change and send it to you for a review</strong>. We send 5 pull-request per day, that most project merge the next day. In a week there is 25 merged pull-request and the project is better of. Even if we agree to finish after 2 months, the value will be part of your core code.
</p>

<h3>Can you upgrade Javascript or migrate from Java to PHP?</h3>
<p class="mb-5">
    No, we can help you with PHP upgrades only.
</p>

<h3>Do we have to hire you every 2 years for upgrade?</h3>
<p class="mb-5">
    No. Our goal is not just to change value in <code>composer.json</code> to latest PHP. We improve your code quality to the highest possible, we improve test coverage, type coverage and get PHPStan to level 8. We improve the CI to catch most of the bugs you have long before merge.
    <br><br>
    When we finish, you'll have Rector in your CI setup working for you. The next PHP version upgrade will be matter of change 1 lines in configuration that you can handle yourself.
</p>
