<h3>Can Rector upgrade PHP 5.3 code?</h3>
<p>Yes, Rector provides upgrade sets for any of PHP 5.3 up to 8.2 versions.</p>

<h3>How fast can you start PHP upgrade of our project?</h3>
<p>
    First we do an <a href="{{ path('hire_team') }}">intro analysis</a> of your project, that takes usually 3 weeks. After that, we can jump right into the upgrade work itself.
</p>

<h3>Question?</h3>
<p>Answer...</p>
