<blockquote class="blockquote clearfix">
    <img src="https://user-images.githubusercontent.com/77585053/110624233-37728500-819e-11eb-9efb-269e161c2ad4.jpeg" class="rounded-circle img-face-smaller-left shadow me-3 me-md-5" alt="">

    <p>
        "Thanks to Rector, we were able to quite simply refactor the core of our API, which <strong>saved a lot of work</strong> that our developers would otherwise have to do manually."
    </p>
    <footer class="blockquote-footer mt-2">
        Milan Mimra, CTO at Spaceflow
    </footer>
</blockquote>

<hr class="quote-border-line">

<blockquote class="blockquote clearfix">
    <img src="https://www.adamgleiss.com/images/face.jpg" class="rounded-circle img-face-smaller-right shadow me-md-5 me-0" alt="">

    <p class="ms-0 ms-md-5">
        "I'm <strong>extremely pleased with the progress</strong> we are making.<br>
        It's really come a long way."
    </p>

    <footer class="blockquote-footer mt-2 ms-0 ms-sm-5">
        William Adam Gleiss, VP of Technology at aRes Travel
    </footer>
</blockquote>

<hr class="quote-border-line">

<blockquote class="blockquote clearfix">
    <img src="https://user-images.githubusercontent.com/77585053/110624235-38a3b200-819e-11eb-9ecc-a8f7b62d3da3.jpeg" class="rounded-circle img-face-smaller-left shadow me-3 me-md-5" alt="">

    <p>
        "From upgrading our legacy projects and <strong>improving team's productivity, to making code review easier and reliable</strong>, Rector is in the center within our PHP ecosystem."
    </p>
    <footer class="blockquote-footer mt-2">
        Nathan Page, Technical Lead at EONX
    </footer>
</blockquote>
