---
layout: "_layouts/default.twig"
---

{% include '_snippets/layout/small_header.twig' %}

<div class="container" id="subpage">
    <h1 class="font_roboto">
        Your Legacy? Our Ecstasy!
        &nbsp;
        <em class="fas fa-smile-wink"></em>
    </h1>

    <p class="text-center">Contact us to make it happen.</p>

    <br>

    <div class="row" style="min-height: 30em">
        <div class="col-12 col-sm-6">
            <h3>Do you want to...?</h3>

            <ul class="font-weight-bold">
                <li>request instant framework migration</li>
                <li>ask about Rector internals</li>
                <li>order in-house Rector training</li>
            </ul>

            <p class="mt-4 mb-2">
                Contact Tomas Votruba
            </p>

            <ul>
                <li>
                    <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>
                </li>
                <li>
                    <a href="mailto:tomas@getrector.org">tomas@getrector.org</a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-sm-6">
            <h3>Or do you want to...?</h3>

            <ul class="font-weight-bold">
                <li>
                    start using Rector CI - <a href="https://rector-ci.org/">rector-ci.org</a>
                </li>
                <li>
                    get Rector to run in Docker
                </li>
            </ul>

            <p class="mt-4 mb-2">
                Contact Honza Mikes
            </p>

            <ul>
                <li>
                    <a href="mailto:honza@getrector.org">honza@getrector.org</a>
                </li>
            </ul>
        </div>
    </div>
</div>
