<h2>Looking for 2 Nette to Symfony projects</h2>


After we migrate from Nette to Symfony, we got feedback it's not possible and that API application is much easier and misses Components and Forms

We want to prove them wrong and show, that for Rector is as easy as running unit tests.

For that reason, we look for challange


<table>
    <tr>
        <thead></thead>
    </tr>
    todo entrydo
    lines
    time of clear work
    time with Rector now
</table>


<h3>What your project shodul ook like?</h3>

- commercial project
- at least 100 000 lines of code (phploc, without tests...)



Send us message and exlain why we choose you

deadline :)...