name: Code Analysis

on:
    pull_request: null
    push:
        branches:
            - main

jobs:
    code_analysis:
        strategy:
            fail-fast: false
            matrix:
                actions:
                    # validate rule definitions, so they can be used in /find-rule
                    -
                        name: 'Validate rule definitions'
                        run: php artisan app:validate-rule-definitions.php

                    -
                        name: 'PHPStan'
                        run: composer phpstan

                    -
                        name: 'Check Active Classes'
                        run: vendor/bin/class-leak check bin src tests --ansi --skip-path=Fixture

                    -
                        name: 'Laravel Console'
                        run: php artisan --ansi

                    -
                        name: "Finalize classes"
                        run: vendor/bin/swiss-knife finalize-classes src tests

        name: ${{ matrix.actions.name }}
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4

            # see https://github.com/shivammathur/setup-php
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
                    coverage: none

            -   uses: "ramsey/composer-install@v2"

            -   run: ${{ matrix.actions.run }}
