name: Code Analysis

on:
    pull_request: null
    push:
        branches:
            - main

jobs:
    code_analysis:
        strategy:
            fail-fast: false
            matrix:
                actions:
                    -
                        name: 'Easy Coding Standard'
                        run: composer fix-cs

                    -
                        name: 'PHPStan'
                        run: composer phpstan

                    -
                        name: 'Rector'
                        run: composer rector

                    -
                        name: 'Lint Twig'
                        run: bin/console lint:twig templates

                    -
                        name: 'Check Active Classes'
                        run: vendor/bin/easy-ci check-active-class src packages --ansi

                    -
                        name: 'Lint Dependency Injection Container'
                        run: bin/console lint:container

                    -
                        name: 'Detect Unused Composer Packages'
                        run: vendor/bin/composer-unused --ansi

        name: ${{ matrix.actions.name }}
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2

            # see https://github.com/shivammathur/setup-php
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none

            -   run: composer install --no-progress --ansi

            -   run: ${{ matrix.actions.run }}
