name: Unit Tests

on:
    pull_request: null
    push:
        branches:
            - main

jobs:
    unit_tests:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.3
                    coverage: none

            -   uses: "ramsey/composer-install@v2"

            # for controller tests
            -   run: cp .env.prod .env

            -   run: npm install
            -   run: npm run build
            -   run: php artisan migrate --force

            -   run: vendor/bin/phpunit
